<template>
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <div class="ribbon">
          <a>ALPHA</a>
        </div>
        <h1 class="logo-name">OSR</h1>
      </div>
      <h3></h3>
      <p>{{ $t('login_phrase') }}</p>
      <div class="form-group">
        <input type="email" class="form-control" required=""
          @keyup.enter="submit"
          v-model="credentials.email"
          :placeholder="$t('login_email')"
        />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" required=""
          @keyup.enter="submit"
          v-model="credentials.password"
          :placeholder="$t('login_password')"
        />
      </div>
      <button class="ladda-button btn btn-primary block full-width m-b"
        @click="submit"
      >
        <div v-if="formSubmitted" class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
        <h4 class="m-b-xs"
          v-if="!formSubmitted"
        >{{ $t('login_enter') }}</h4>
      </button>
      <p class="m-t">
        <small>{{ $t('choice_text') }}</small>
      </p>
      <router-link class="btn btn-sm btn-white btn-block"
        :to="{ name: 'register', activeClass: 'active' }"
        v-text="$t('create_account')"
      />
      <a class="btn btn-sm btn-white btn-block" href="https://osr.com.ua">
        {{ $t('nazad') }}
      </a>
    </div>
  </div>
</template>

<script>
import auth from '../auth'
import $ from 'jquery'

export default {
  name: 'Login',

  data: () => ({
    credentials: {
      email: '',
      password: ''
    },
    formSubmitted: false,
    error: ''
  }),

  route: {
    activate: function (transition) {
      $('body').addClass('gray-bg')
      transition.next()
    },

    data: function (transition) {
      localStorage.clear()
      transition.next()
    },

    canActivate: function (transition) {
      return !auth.user.authenticated
    }
  },

  mounted () {
    ((w, d, u, b) => {
      w['Bitrix24FormObject'] = b
      w[b] = w[b] || function () {
        arguments[0].ref = u;
        (w[b].forms = w[b].forms || []).push(arguments[0])
      }
      if (w[b]['forms']) {
        return
      }
      let
        s = d.createElement('script'),
        r = 1 * new Date(),
        h
      s.async = 1
      s.src = u + '?' + r
      h = d.getElementsByTagName('script')[0]
      h.parentNode.insertBefore(s, h)
    })(
      window,
      document,
      'https://osr.bitrix24.ua/bitrix/js/crm/form_loader.js',
      'b24form'
    )

    b24form({ id: '2', lang: 'ru', sec: 'swfoxv', type: 'inline' })
  },

  methods: {
    submit () {
      let credentials = {
        email: this.credentials.email,
        password: this.credentials.password
      }
      this.formSubmitted = true
      auth.login(this, credentials, 'secretquote')
    }
  }
}
</script>
