<template>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{$t('profile_passport')}}</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="col-md-12" style="padding-right: 0px;   padding-left: 0px;">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1"> {{$t('profile_settings')}}</a>
                </li>
                <li v-if="useRole && agencys.number_of_accounts" class="">
                    <a data-toggle="tab" href="#tab-2">{{$t('agency_settings')}} </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3" style="min-height: 200px;max-height: 400px;">
                                <form id="my-awesome-dropzone" class="dropzone" action="#">
                                    <div class="dropzone-previews"></div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <input type="text" v-model="profile.name" :placeholder="$t('your_name')" class="form-control input-sm">
                                <br/>
                                <input type="text" v-model="profile.password" :placeholder="$t('your_password')" class="form-control input-sm">
                                <br/>
                            </div>
                            <div class="hr"></div>
                            <div v-for="(index, phone) in profile.phones" class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                                                                        <input type="checkbox" :checked="phone.active"
                                                                                                     @click="check($event, phone);"
                                                                                                     aria-label="Single radio One">
                                                                        </span>
                                    <input v-input-mask mask="(999) 999-9999" type="text" v-model="phone.value" :placeholder="$t('your_phone')" class="form-control input-sm">
                                    <span v-if="index" class="input-group-btn">
                                                                                <button @click="deletePhone(phone, index)" type="button"
                                                                                                class="btn btn-sm btn-danger">
                                                                                        <i class="fa fa-times"></i>
                                                                                </button>
                                                                        </span>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="col-md-4 m-t-sm" style="padding-right: 0px;">
                                <collect :value.sync="profile.language" :options="languages" :placeholder="$t('language')"></collect>
                            </div>
                            <div class="col-md-2 m-t pull-right">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" @click="saveProfile()">
                                    {{$t('profile_save')}}
                                </button>
                            </div>
                            <div class="col-md-2 m-t pull-right">
                                <button class="btn btn-sm btn-info pull-right m-t-n-xs" @click="addPhone(false)">
                                    {{$t('profile_phone_add')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="pull-left">{{$t('agency_name')}}</h5>
                                <h5 class="m-l-xs pull-right">{{$t('agency_payed_to')}} <i class="fa fa-clock-o"></i>
                                                                        {{agency.pay_to}}
                                                                </h5>
                                <input type="text" v-model="agency.name" class="form-control input-md">
                            </div>
                            <div class="col-md-12">
                                <h5 class="pull-left">{{$t('register_city')}}</h5>
                                <input type="text" readonly :value="user.city.name_ru" class="form-control input-md">
                            </div>
                        </div>
                        <div class="row m-t border-top">
                            <div class="col-md-12 text-center">
                                <h5>{{$t('agency_policy')}}</h5></div>
                        </div>
                        <div class="row text-center border-bottom">
                            <div class="col-md-6  m-b">
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" v-model="agency.policy" value="1" id="inlineRadio1" name="radioInline">
                                    <label for="inlineRadio1">{{$t('agency_policy_one')}}</label>
                                </div>
                            </div>
                            <div class="col-md-6  m-b ">
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" v-model="agency.policy" value="2" id="inlineRadio2" name="radioInline">
                                    <label for="inlineRadio2">{{$t('agency_policy_coop')}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>{{$t('agency_users')}}</h5></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <div v-for="userm in agency.users" v-if="user.id !== userm.id">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" v-model="agency.users[$index].email" :placeholder="$t('agency_user_name')" class="form-control input-md">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" v-model="agency.users[$index].hash" :placeholder="$t('agency_user_password')" class="form-control input-md">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" @click="saveAgency()">
                                    {{$t('profile_save')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
// import auth from '../auth'
import Dropzone from 'dropzone'
import Collect from './SelectCur.vue'

export default {
    name: 'Profile',

    components: { Collect },

    data: () => ({
        msg: 'hello vue',
        user: null,
        languages: [
            { id: 'ru', text: 'Русский' }, { id: 'ua', text: 'Украинский' }
        ],
        profile: {
            name: null,
            phones: null,
            checkedItem: null,
            language: null,
            password: null,
        },
        agency: {
            name: null,
            users: [],
            pay_to: null,
            policy: null,
            type: null
        }
    }),

    computed: {
        useRole: () => JSON.parse(localStorage.getItem('userRoles'))
            .find(a => a.id === 6),

        agencys: () => JSON.parse(localStorage.getItem('agency')),
    },

    created () {
        let
            user = JSON.parse(localStorage.getItem('iam')),
            url = this.$root.config.apiUrl + '/auth/agency',
            vm = this,
            myDropzone

        this.user = JSON.parse(localStorage.getItem('iam'))
        this.profile.phones = this.user.phones.length
            ? this.getUserPhones()
            : [{ value: null, active: true }]
        this.profile.name = this.user.name
        this.profile.language = this.$root.lng

        myDropzone = new Dropzone('form#my-awesome-dropzone', {
            url: this.$root.config.apiUrl + '/files/user/' + user.id,
            headers: { 'Authorization': 'Bearer ' + localStorage.getItem('id_token') },
            acceptedFiles: '.jpg,.jpeg,.png,.gif',
            thumbnailWidth: 193,
            thumbnailHeight: 140,
            previewTemplate: '<div class="dz-preview dz-file-preview">' +
                '<div style="width: 193pxheight: 140px" class="dz-details">' +
                '<img style="width: 193pxheight: 140px" data-dz-thumbnail />' +
                '</div>' +
                '<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>' +
                '<div class="dz-success-mark"><span>✔</span></div>' +
                '<div class="dz-error-mark" style="opacity:1" data-dz-remove><span>✘</span></div>' +
                '<div class="dz-error-message"><span data-dz-errormessage></span></div>' +
                '</div>',
            parallelUploads: 20,
            maxFiles: 1,
        })

        myDropzone.on('removedfile', (file) => {
            let url = vm.$root.config.apiUrl + '/files/user/' + vm.user.id

            vm.$http.delete(url)
                .then((response) => {
                    let user = JSON.parse(localStorage.getItem('iam'))
                    user.avatar = 'noavatar'
                    this.user.avatar = 'noavatar'
                    localStorage.setItem('iam', JSON.stringify(user))
                    vm.$dispatch('avatarUpdated', 1)
                })
                .catch((error) => {
                    vm.error = error
                })
        })

        if (this.user.avatar !== 'noavatar') {
            let
                file = { width: 0, height: 0 },
                imageUrl = this.$root.config.bucketAvatarsUrl + '/' + this.user.avatar + '.jpg',
                mockFile = { name: 'Filename', fileName: 'Avatar', size: 12345 },
                existingFileCount = 1

            myDropzone.emit('addedfile', mockFile)
            myDropzone.emit('thumbnail', mockFile, imageUrl)
            myDropzone.createThumbnailFromUrl(file, imageUrl, function () {}, 'Anonymous')
            myDropzone.emit('complete', mockFile)
            myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount
        }

        myDropzone.on('sending', (file, xhr, formData) => {
            // Will send the filesize along with the file as POST data.
            formData.append('fingerprint', vm.$finger())
        })
        myDropzone.on('success', (file, response) => {
            file.fileName = response.fileName
            let user = JSON.parse(localStorage.getItem('iam'))
            user.avatar = response.fileName
            vm.user.avatar = response.fileName
            localStorage.setItem('iam', JSON.stringify(user))
            vm.$toastr('success', vm.$t('avatar_success_update'), vm.$t('toastr_success_header'))
            vm.$dispatch('avatarUpdated', 1)
        })

        this.$http.get(url).then(function (response) {
            vm.agency.users = response.data.users
            vm.agency.name = response.data.agency.title

            vm.agency.pay_to = this.$time(response.data.agency.payed_to).format('LL')
            vm.agency.policy = response.data.agency.policy
        }, function (response) {
            vm.error = response
        })
    },

    methods: {
        getUserPhones () {
            return this.user.phones.map(a => {
                return { value: a.value, active: a.active !== 0 }
            })
        },

        addPhone (state) {
            if (this.profile.phones.length < 4) {
                this.profile.phones.push({ value: null, active: state })
            }
        },

        check (event, item) {
            if (item.value) {
                this.profile.phones.forEach(a => {
                    a.active = false
                })
                item.active = true
            } else {
                event.preventDefault()
            }
        },

        deletePhone (phone, index) {
            this.profile.phones.splice(index, 1)
            if (phone.active) {
                this.profile.phones[0].active = true
            }
        },

        saveProfile () {
            let
                url = this.$root.config.apiUrl + '/auth/update',
                vm = this

            this.user.name = this.profile.name
            this.user.phones = this.profile.phones
            this.user.language = this.profile.language
            this.$root.lng = this.profile.language
            localStorage.setItem('lang', this.profile.language)
            localStorage.setItem('iam', JSON.stringify(this.user))

            this.$http.put(url, {
                name: this.profile.name,
                phones: this.profile.phones,
                password: this.profile.password
            })
                .then((response) => {
                    vm.$toastr(
                        'success',
                        this.$t('profile_success_update'),
                        this.$t('toastr_success_header')
                    )
                })
                .catch((error) => {
                    vm.error = error
                })
        },

        saveAgency () {
            let
                url = this.$root.config.apiUrl + '/auth/agency',
                vm = this

            this.$http.put(url, {
                name: this.agency.name,
                users: this.agency.users,
                title: this.agency.title,
                policy: this.agency.policy
            })
                .then((response) => {
                    vm.agency.users = response.data.users
                    vm.agency.name = response.data.agency.title
                    vm.agency.policy = response.data.agency.policy
                    vm.$toastr('success', this.$t('agency_success_update'), this.$t('toastr_success_header'))
                })
                .catch((response) => {
                    vm.error = response
                })
        }
    },
}
</script>
