<template>
  <div class="input-group">
    <div class="input-group-btn">
      <button class="btn btn-sm btn-white col-md-10 selectValue dropdown-toggle"
        tabindex="-1" data-toggle="dropdown" type="button"
      >{{ getTitle() }}</button>
      <button
        data-toggle="dropdown"
        class="btn btn-sm btn-white dropdown-toggle"
        type="button"
      ><span class="caret"></span></button>
      <ul class="dropdown-menu"
        style="z-index: 4000;min-height: 100px;max-height:300px;width:150px;overflow-y:scroll;"
      >
        <li :class="option.selected ? 'active' : null"
          v-for="option in searchOptions"
          @click.stop="select(option)"
        ><a>{{ option.text }}</a></li>
      </ul>
    </div>
  </div>
</template>

<style>
.selectValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::-webkit-scrollbar {
  display: none;
}
</style>

<script>
export default {
  name: 'SelectRooms',

  props: {
    value: Array,
    options: Array,
    placeholder: String,
    search: String,
  },

  data: () => ({ keyWords: null }),

  computed: {
    searchOptions: () => this.options,
  },

  beforeDestroy () {
    if (this.value.length) {
      this.options.forEach(a => {
        a.selected = null
      })
    }
  },

  methods: {
    select (option) {
      let findIndex = null
      this.keyWords = null
      if (!this.value.length) {
        this.value.push(parseInt(option.id))
      } else {
        findIndex = this.value.findIndex((elem) => elem === option.id)
        if (findIndex !== -1) {
          this.value.splice(findIndex, 1)
        } else {
          this.value.push(parseInt(option.id))
        }
      }
      option.selected = !option.selected
    },

    getTitle () {
      let title
      if (this.value.length) {
        title = 'Выбрано: ' + this.value.length
      } else {
        title = this.placeholder
      }
      return title
    },
  },
}
</script>
