<template>
  <div class="container col-lg-12 col-md-12 supermargin">
    <div class="col-lg-12 border-bottom white-bg">
      <div class="row border-bottom" v-if="!editstate">
        <div class="col-md-10">
          <div class="row border-bottom">
            <div class="col-md-12">
              <div class="ibox-title-osr">
                <h5 style="cursor: pointer"
                  @click="setShowMap(!showMap)"
                >
                  {{ oTitle }} {{ objectdata.district['name_' + $root.lng] }}
                </h5>
                <div class="ibox-tools">
                  <h5 style="margin-right:3px">
                    {{ objectdata.city.alias }}{{ objectdata.id }}
                  </h5>
                  <i class="fa fa-pencil-square-o"
                    v-if="objectdata.notes_c"
                    @click="setShowNote(!showNote)"
                    :class="showNote ? 'text-success' : ''"
                  ></i>
                  <!--<i @click="setShowMap(!showMap);" class="fa fa-map-marker "-->
                  <!--:class="showMap ? 'text-success' : null"></i>-->
                  <!--<i data-toggle="dropdown" class="fa fa-caret-square-o-down dropdown-toggle"></i>-->
                  <span :class="dayz.class" class="label pull-right">{{dayz.text}}</span>
                  <!-- <ul class="dropdown-menu">
                       <li v-if="canEdit(objectdata.author)">
                           <a @click="editObjectInit()">{{$t('object_edit')}}</a>
                       </li>
                       <li v-if="canEdit(objectdata.author)">
                           <a @click="deleteObject()">{{$t('object_delete')}}</a>
                       </li>
                       <li v-if="!canEdit(objectdata.author)">
                           <a>{{$t('report')}}</a>
                       </li>
                   </ul>-->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="height:70px">
              <div class="row">
                <div class="col-md-6">
                  <span v-if="canViewPanel('view') && objectdata.view">
                    {{ objectdata.view | findView }}
                  </span>
                </div>
                <div class="col-md-6">
                  <span v-if="canViewPanel('typehouse') && objectdata.typehouse">
                    {{ objectdata.typehouse | findTypeHouse }}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span v-if="objectdata.square">
                    {{ $t('square') }}: {{ objectdata.square }} {{ $t('type_square_eval') }}
                  </span>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right" style="height: 70px">
              <div class="row">
                <div class="col-md-12">
                  <span v-if="canViewPanel('floor') && objectdata.floor">
                    {{ $t('floor') }}: {{ objectdata.floor | findFloor }}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{ objectdata.objectdata | findPrice objectdata.currency }}
                  {{ objectdata.currency }}
                </div>
              </div>
            </div>
            <div class="col-md-2" style="height:70px">
              <div class="row">
              </div>
              <div class="row">
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 border-left" style="padding-right: 0px;padding-left: 0px;">
          <carousel
            :indicators="false"
            data-interval="false"
            v-show="objectdata.preview.length"
            :id="'gallery_id_' + objectdata.id"
          >
            <slider v-for="preview in objectdata.preview">
              <a
                :href="$root.config.bucketObjectsUrl + '/' + preview.name + '.jpg'"
                :data-gallery="'gallery_id_' + objectdata.id"
              >
                <img style="height:100px;"
                  :width="user ? 160 : 195"
                  :src="$root.config.bucketObjectsUrl + '/' + preview.name + '_preview.jpg'"
                />
              </a>
            </slider>
          </carousel>
          <img v-show="!objectdata.preview.length" :src="nophoto">
        </div>
        <div class="col-md-12">
        </div>
      </div>
      <div v-if="showNote" class="row border-top">
        <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
          {{ objectdata.notes_c }}
        </div>
      </div>
      <div v-if="showMap" transition="slide" class="row border-top">
        <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
          <ymap :object="objectdata" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import carousel from '../helpers/Carousel'
import slider from '../helpers/Slider'
// import auth from '../auth'
// import Dropzone from 'dropzone'
import Select from './Select'
import EditStreet from './EditStreet'
import Interval from './Interval'
import Currency from './SelectCur'
import Rooms from './SelectRooms'
import YMap from './YMap'

export default {
  name: 'ShareObject',

  components: {
    carousel,
    slider,
    'collect': Select,
    'street': EditStreet,
    'interval': Interval,
    'currency': Currency,
    'rooms': Rooms,
    'ymap': YMap
  },

  props: {
    objectdata: Object,
    currency: String,
    selected: Object,
  },

  computed: {
    nophoto () {
      let width

      if (this.user) {
        width = 160
      } else {
        width = 195
      }

      return 'https://placeholdit.imgix.net/~text?txtsize=15&txt=' +
        this.$t('object_no_photo') +
        '&w=' + width + '&h=100&txttrack=0'
    },
    oTitle () {
      let title = '',
        streets = this.getStreet().replace('улица', '').replace('вулиця', '')

      switch (parseInt(this.objectdata.type)) {
      case 1:
        title = this.$t('house')
        if (this.objectdata.square) {
          title += ', ' + this.objectdata.square + ' ' + this.$t('type_square_eval')
        }
        if (this.objectdata.floors) {
          title += ', ' + this.$t('floors') + ': ' + this.objectdata.floors
        }
        title += ', ' + streets
        break

      case 2:
        if (this.objectdata.rooms) {
          title += this.objectdata.rooms + 'к '
        }
        title += this.$t('apartment') + (this.objectdata.studio ? ' (' + this.$t('studio') + ')' : '') + ' '
        title += streets
        break

      case 3:
        title = this.$t('area')
        if (this.objectdata.square) {
          title += ', ' + this.objectdata.square + ' ' + this.$t('type_square_eval')
        }
        title += ' ' + streets
        break

      case 4:
        title = this.$t('commercial') + ' ' + this.objectdata.square + ' ' + this.$t('type_square_eval')
        title += ' ' + streets
        break

      case 5:
        title = ''
        if (this.objectdata.rooms) {
          let megadata = this.objectdata.rooms

          title = this.$root.rooms[this.objectdata.type].reduce((a, b) => {
            if (b.id === megadata) {
              return b.text
            }
            return a
          })

          if (typeof title === 'object') {
            title = megadata + ' ' + this.$t('object_room', { count: parseInt(title) }) + ' '
          } else {
            title += ' ' + this.$t('object_room', { count: parseInt(title) }) + ' '
          }

          title += ' ' + streets
        }
        break

      case 6:
        title = this.$t('parking')
        title += ' ' + streets
        break
      }
      return title
    },
    dayz () {
      let date1, date2, days, cls, text
      date1 = this.$time(this.objectdata.created_at)
      date2 = this.$time()
      days = date2.diff(date1, 'days')
      switch (days) {
      case 0:
        cls = 'label-primary'
        text = this.$t('today')
        break

      case 1:
        cls = 'label-info'
        text = this.$t('yesterday')
        break

      case 2:
        cls = 'label-warning'
        text = this.$t('2daysago')
        break

      default:
        cls = 'label-danger'
        text = date1.format('D.M.Y')
        break
      }

      return { class: cls, text: text }
    }
  },

  data () {
    return {
      user: JSON.parse(localStorage.getItem('iam')),
      trans: {
        floor: 0
      },
      editstate: 0,
      state_saving: null,
      showMap: 0,
      showNote: 0,
      floorsState: 0,
      mObject: {},
      requiredFields: ['owner_name', 'distr', 'street', 'price', 'currency', 'phone', 'home']
    }
  },

  watch: {
    selected: {
      handler (val) {},
      deep: true
    }
  },

  methods: {
    canViewPanel (panel) {
      return this.$root.types.find(a => {
        return a.id === this.objectdata.type && a.fields.indexOf(panel) !== -1
      })
    },

    removeObject () {

    },

    editExit () {
      let self = this
      this.state_saving = 1
      if (typeof this.objectdata.id === 'number' &&
        this.editstate) {
        let valid = true

        this.requiredFields.forEach(a => {
          if (!this.selected[a]) {
            valid = false
          }
        })

        if (valid) {
          this.$http.put(this.$root.config.apiUrl + '/objects/' +
            this.objectdata.id, { object: this.selected }).then(function (response) {
            self.objectdata = response.data.object
            self.editstate = 0
            self.state_saving = null
            self.$toastr('success', self.$t('object_success_edit'), self.$t('toastr_success_header'))
          }, function (response) {
            self.error = response
            this.state_saving = null
          })
        } else {
          self.$toastr('error', this.$t('object_error_edit'), this.$t('toastr_error_header'))
          this.state_saving = null
        }
      }
    },

    getStreet () {
      return this.objectdata.street_name['name_' + this.$root.lng] + ' ' + this.objectdata.home
    },

    canViewFilter (some) {
      let findKey, self = this

      if (!this.selected.type) {
        return false
      }

      if (this.selected.category === 2 &&
        this.selected.type === 2 && some === 'view') {
        return false
      }

      findKey = this.$root.types.find(function (a) {
        return a.id === self.selected.type
      })

      return findKey.fields.findIndex(function (a) {
        return a === some
      }) !== -1
    },

    setShowMap (map) {
      this.showMap = map
    },

    setShowNote (note) {
      this.showNote = note
    },

    editObjectInit () {
      this.editstate = 1
      this.showMap = 0
    },

    tooltipOn (evt) {
      $(evt.srcElement).tooltip('show')
    },

    deleteObject () {
      let url = this.$root.config.apiUrl + '/objects/' + this.objectdata.id,
        self = this

      this.$http.delete(url).then(function (response) {
        if (response.ok && response.status === 204) {
          self.$dispatch('deleteObject', this.objectdata.id)
        }
      }, function (response) {
        this.error = response
      })
    },

    numberFormat (number, decimals, decPoint, thousandsSep) {
      number = (number + '').replace(/[^0-9+\-Ee.]/g, '')

      let n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep,
        dec = (typeof decPoint === 'undefined') ? '.' : decPoint,
        s = '',
        toFixedFix = function (n, prec) {
          let k = Math.pow(10, prec)
          return '' + (Math.round(n * k) / k)
            .toFixed(prec)
        }

      // Fix for IE parseFloat(0.55).toFixed(0) = 0
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.')

      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
      }

      if ((s[1] || '').length < prec) {
        s[1] = s[1] || ''
        s[1] += new Array(prec - s[1].length + 1)
          .join('0')
      }

      return s.join(dec)
    },
  },
  filters: {
    findPrice (val, msg) {
      let price, self = this
      val.forEach(function (index) {
        if (index.name === 'price_' + msg) {
          price = self.numberFormat(index.value, 0, ',', ' ')
        }
      })
      return price
    },

    findCategory (val) {
      let positiveArr = this.categories.filter(function (number) {
        return number.id === val
      })
      return positiveArr[0].text
    },

    findFloor (val) {
      if (this.objectdata.type === 2) {
        if (this.objectdata.floors) {
          return val + '/' + this.objectdata.floors
        }
        return val
      }
      return val
    },

    findView (val) {
      let find = this.$root.views[this.objectdata.type].find(a => a.id === val)
      return find.text
    },

    findTypeHouse (val) {
      let find = this.$root.typehouses.find(a => a.id === val)
      return find.text
    },

    findAppointment (val) {
      let find = this.$root.appointments.find(a => a.id === val)
      return find.text
    },

    onlyDigits: {
      read (val) {
        if (val) {
          return val.toString().replace(/[^0-9]/g, '')
        }
      },

      write (val, oldVal) {
        if (val) {
          return val.toString().replace(/[^0-9]/g, '')
        }
      },
    },
  },
}
</script>
