<template>
  <div :id="'map-' + object.id" style="height: 300px"></div>
</template>

<script>
export default {
  name: 'YMap',

  props: {
    object: {
      type: Object
    }
  },

  mounted () {
    if (!google) {
      return
    }

    let
      myLatLng = { lat: this.object.lon, lng: this.object.lat },
      map = new google.maps.Map(
        document.getElementById('map-' + this.object.id),
        {
          zoom: 17,
          center: myLatLng,
          scrollwheel: false,
        }
      )

    new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!',
    })
  },
}
</script>
