<template>
  <div id="osr_filters" class="wrapper border-bottom white-bg">
    <div v-for="row in filterRows"
      :class="['row', ...row.classes]"
      v-if="isVisible(row.group)"
    >
      <div v-for="filter in row.filters"
        :class="['col-md-' + filter.width, ...filter.wrapperClasses]"
        v-bind="filter.wrapperAttrs || {}"
      >
        <div :class="['inner', ...filter.innerClasses]"
          v-bind="filter.innerAttrs || {}"
        >
          <component :is="filter.component || 'multiselect'"
            v-bind="filter.attrs || {}"
            :name="filter.name"
            :id="filter.attrs.id || filter.name"
            @select="updateFilter"
            @input="updateFilter"
            @update="updateFilter"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import FilterInterval from './FilterInterval.vue'
import FilterCheckbox from './FilterCheckbox.vue'

export default {
  name: 'Filters',

  components: {
    Multiselect,
    FilterCheckbox,
    FilterInterval,
  },

  props: {
    value: { type: Array, default: () => [] },
  },

  methods: {
    updateFilter (val, id) {
      if (id !== 'typeChooser') {
        this.valuesObject[id] = val
        return
      }
      this.showingGroup = val.name
    },

    collectValues (obj, val) {
      this.$children.forEach((component) => {
        obj[component.name] = val
      })
    },

    isVisible (name) {
      return !name
        ? true
        : this.showingGroup === name
    },
  },

  data () {
    let
      transKey = this.$store.getters.currentLanguage.translationKey,
      getty = this.$store.getters,
      values = this.valuesObject
    return {
      showingGroup: null,
      valuesObject: {},
      filterRows: [
        /**
         * Row 1
         */
        {
          classes: [],
          filters: [
            {
              name: 'district',
              width: 2,
              attrs: {
                'v-model': values && values.district,
                options: getty.getDistricts.map(district => ({
                  name: district['name_' + transKey],
                  id: district.id,
                })),
                searchable: false,
                showLabels: false,
                placeholder: this.$t('district'),
                trackBy: 'id',
                label: 'name',
              },
              innerAttrs: {},
              wrapperAttrs: {},
            },
            {
              name: 'street',
              width: 4,
              attrs: {
                'v-model': values && values.street,
                options: getty.getStreets.map(street => ({
                  name: street['name_' + transKey],
                  id: street.id,
                })),
                multiple: true,
                closeOnSelect: false,
                clearOnSelect: false,
                hideSelected: true,
                placeholder: this.$t('street'),
                trackBy: 'id',
                label: 'name',
              },
            },
          ],
        },
        /**
         * Row 2
         */
        {
          classes: ['m-t'],
          filters: [
            {
              name: 'type',
              width: 2,
              attrs: {
                'v-model': this.showingGroup,
                options: this.$root.types,
                searchable: false,
                showLabels: false,
                placeholder: this.$t('type'),
                id: 'typeChooser',
                trackBy: 'id',
                label: 'text',
              },
              innerAttrs: {},
              wrapperAttrs: {},
            },
            {
              name: 'square',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.squareStart,
                valueFinish: values && values.squareFinish,
              },
              innerAttrs: {},
              wrapperAttrs: {},
            },
            {
              name: 'price',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.priceStart,
                valueFinish: values && values.priceFinish,
              },
              innerAttrs: {},
              wrapperAttrs: {},
            },
            {
              name: 'currency',
              width: 2,
              attrs: {
                'v-model': values && values.currency,
                options: this.$root.currencies,
                placeholder: this.$t('currency'),
                trackBy: 'id',
                label: 'text',
              },
            },
            {
              name: 'my',
              component: 'filter-checkbox',
              attrs: {
                label: this.$t('my'),
              },
            },
            {
              name: 'my_agency',
              component: 'filter-checkbox',
              attrs: {
                label: this.$t('my_agency'),
              },
            },
            {
              name: 'no_my',
              component: 'filter-checkbox',
              attrs: {
                label: this.$t('no_my'),
              },
            },
          ],
        },
        /**
         * Row 3 variable
         */
        {
          classes: [],
          group: 'house',
          filters: [
            {
              name: 'view',
              attrs: {
                'v-model': values && values.view,
                options: this.$root.views.houses.map(house => house.text),
                placeholder: this.$t('view'),
              },
            },
            {
              name: 'floors',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.floorsStart,
                valueFinish: values && values.floorsFinish,
              },
            },
            {
              name: 'hnumber',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.hnumberStart,
                valueFinish: values && values.hnumberFinish,
              },
            },
            {
              name: 'square_area',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.square_areaStart,
                valueFinish: values && values.square_areaFinish,
              },
            },
          ],
        },
        {
          classes: [],
          group: 'apartment',
          filters: [
            // {
            //   name: 'typehouse',
            // },
            {
              name: 'rooms',
              attrs: {
                'v-model': values && values.rooms,
                options: this.$root.rooms.apartments,
                multiple: true,
                closeOnSelect: false,
                clearOnSelect: false,
                hideSelected: true,
                placeholder: this.$t('rooms'),
                trackBy: 'id',
                label: 'text',
              },
            },
            {
              name: 'view',
              attrs: {
                'v-model': values && values.view,
                options: this.$root.views,
                placeholder: this.$t('view'),
                trackBy: 'id',
                label: 'text',
              },
            },
            {
              name: 'floor',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.floorStart,
                valueFinish: values && values.floorFinish,
              },
            },
            {
              name: 'hnumber',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.hnumberStart,
                valueFinish: values && values.hnumberFinish,
              },
            },
            {
              name: 'floors',
              component: 'filter-interval',
              width: 2,
              attrs: {
                valueStart: values && values.floorsStart,
                valueFinish: values && values.floorsFinish,
              },
            },
            {
              name: 'studio',
              component: 'filter-checkbox',
              attrs: {
                label: this.$t('my_agency'),
              },
            },
          ],
        },
        {
          classes: [],
          group: 'room',
          filters: [
            {
              name: 'rooms',
              attrs: {
                'v-model': values && values.rooms,
                options: this.$root.rooms.rooms,
                placeholder: this.$t('rooms'),
                trackBy: 'id',
                label: 'text',
              },
            },
          ],
        },
        {
          classes: [],
          group: 'area',
          filters: [
            {
              name: 'appointments',
              attrs: {
                'v-model': values && values.appointments,
                options: this.$root.appointments,
                placeholder: this.$t('appointments'),
                trackBy: 'id',
                label: 'text',
              },
            },
          ],
        },
        {
          classes: [],
          group: 'commercial',
          filters: [
            {
              name: 'view',
              attrs: {
                'v-model': values && values.view,
                options: this.$root.views.commercial,
                placeholder: this.$t('view'),
                trackBy: 'id',
                label: 'text',
              },
            },
          ],
        },
        {
          classes: [],
          group: 'parking',
          filters: [],
        },
      ],
    }
  },
}
</script>

<style lang="stylus">
.dropdown-menu
  z-index 1020
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
