<template>
  <div class="filter filter-checkbox wrapper">
    <div class="inner">
      <div class="input-group">
        <div class="checkbox checkbox-success checkbox-inline"
          <input type="checkbox"
            :id="name"
            v-model="value"
            @change="$emit('input', $event.target.checked, name)"
          />
          <label :for="name">{{ label || '' }}</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FilterCheckbox',

  data: () => ({
    value: false,
  }),

  props: {
    defaultValue: { type: Boolean, default: () => false },
    name: { type: String, required: true },
    label: { type: String },
  },

  mounted () {
    this.value = this.defaultValue
  },
}
</script>

<style lang="stylus" scoped>
.dropdown-menu
  z-index 4000
.selectValue
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
</style>

