<template>
  <router-view></router-view>
</template>
<script>
// import Pusher from 'pusher-js'
// import auth from './auth'
// import data from './json'

// const
// metaTokenElement = document.querySelector('meta[name="csrf-token"]')
// token = metaTokenElement && metaTokenElement.content || ''

// pusherConfig = (token) => ({
//   authEndpoint: window.location.origin + '/broadcasting/auth',
//   cluster: 'eu',
//   encrypted: true,
//   auth: {
//     headers: {
//       'X-CSRF-Token': token
//     }
//   }
// })

export default {
  name: 'app',

  data () {
    return {
      error: null,
      loading: false,
      // pusher: new Pusher(
      //   'dc8e852b1c8c7d66d5df',
      //   pusherConfig(token)
      // ),
      config: {
        bucketObjectsUrl: 'https://storage.googleapis.com/osrbucket/objects',
        bucketAvatarsUrl: 'https://storage.googleapis.com/osrbucket/avatars',
        apiUrl: 'https://api.osr.com.ua',
        loginUrl: 'https://api.osr.com.ua/auth/login',
        registerUrl: 'https://api.osr.com.ua/register',
        version: '0.3.2',
        process: process,
      },
      daysForPay: null,
      // user: auth.user,
      // lng: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'ru',
      busy: false,
      currencies: [
        { id: 'USD', text: 'USD' },
        { id: 'EUR', text: 'EUR' },
        { id: 'UAH', text: 'UAH' },
      ],
      types: [
        {
          id: 1,
          name: 'house',
          text: this.$t('house'),
          fields: ['view', 'floors', 'hnumber', 'square_area'],
        },
        {
          id: 2,
          name: 'apartment',
          text: this.$t('apartment'),
          fields: ['typehouse', 'rooms', 'view', 'floor', 'hnumber', 'floors', 'studio'],
        },
        {
          id: 5,
          name: 'room',
          text: this.$t('room'),
          fields: ['rooms'],
        },
        {
          id: 3,
          name: 'area',
          text: this.$t('area'),
          fields: ['appointment'],
        },
        {
          id: 4,
          name: 'commercial',
          text: this.$t('commercial'),
          fields: ['view'],
        },
        {
          id: 6,
          name: 'parking',
          text: this.$t('parking'),
          fields: [],
        },
      ],
      rooms: {
        rooms: [],
        houses: [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false },
        ],
        apartments: [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false },
          { id: 6, text: this.$t('room_studio'), selected: false },
        ],
        parking: [],
        commercial: [],
        area: [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false },
        ],
      },
      // data: data,
    }
  },

  computed: {
    typehouses () {
      return [
        { id: 1, text: this.$t('type_typehouses_brick') },
        { id: 2, text: this.$t('type_typehouses_panel') },
        { id: 3, text: this.$t('type_typehouses_block') },
        { id: 4, text: this.$t('type_typehouses_woodn') },
      ]
    },

    appointments () {
      return [
        { id: 1, text: this.$t('appointments_individual_build') },
        { id: 2, text: this.$t('appointments_selo_ebanoe') },
        { id: 3, text: this.$t('appointments_industry_build') },
      ]
    },

    views () {
      return {
        rooms: [],
        houses: [
          { id: 1, text: this.$t('house_in_city') },
          { id: 2, text: this.$t('house_outer_city') },
        ],
        apartments: [
          { id: 1, text: this.$t('primary') },
          { id: 2, text: this.$t('secondary') },
        ],
        parking: [
        ],
        commercial: [
          { id: 1, text: this.$t('score_saloon') },
          { id: 2, text: this.$t('restaurant_bar') },
          { id: 3, text: this.$t('office') },
          { id: 4, text: this.$t('collector') },
          { id: 5, text: this.$t('alone_buildings') },
          { id: 6, text: this.$t('industry_builds') },
          { id: 7, text: this.$t('free_app') },
          { id: 8, text: this.$t('others_app') },
        ],
      }
    },

    // userdata () {
    //   let user
    //   user = JSON.parse(localStorage.getItem('iam'))
    //   return user
    // },

    // uroles () {
    //   let roles
    //   roles = JSON.parse(localStorage.getItem('userRoles'))
    //   return roles
    // },

    // checkPayOut () {
    //   if (!this.user.authenticated || this.userdata.agency.type === 1) {
    //     return false
    //   }
    //   let payedTo, date2, diff

    //   if (this.uroles.find(a => a.id === 7)) {
    //     payedTo = this.userdata.payedTo
    //   } else {
    //     payedTo = this.userdata.agency.payedTo
    //   }

    //   date2 = this.time(payedTo)
    //   diff = this.time().diff(date2, 'days')
    //   this.days_for_pay = Math.abs(diff)

    //   return this.days_for_pay <= 7
    // },

    // isGuest: () => this.$store.getters.isGuest(),
  },

  created () {
    let fetchList = []

    if (!this.isGuest) {
      fetchList.push(this.fetchUser())
      fetchList.push(this.fetchAgencies())
      fetchList.push(this.fetchCities())
      fetchList.push(this.fetchDistricts())
      fetchList.push(this.fetchStreets())
      fetchList.push(this.fetchObjects())
      fetchList.push(this.fetchReports())
      fetchList.push(this.fetchShares())
      fetchList.push(this.fetchTelegramUsers())
      fetchList.push(this.fetchTelegramFilters())
    } else {
      this.clearStore()
    }

    this.fetchAll(fetchList)
    // .then(response => {
    //   Object.keys(response.data).forEach((key) => {
    //     if (key === 'objects') {
    //       response.data.objects = vm.addData(
    //         response.data.objects,
    //         response.data.objectDatas,
    //         'prices'
    //       )
    //       response.data.objects = vm.addData(
    //         response.data.objects,
    //         response.data.previews,
    //         'preview'
    //       )
    //     }
    //     if (['objectDatas', 'phones', 'users', 'previews'].includes(key)) {
    //       return
    //     }
    //     vm.updateStore(key, response.data[key])
    //   })
    // })

    this.$bus.$on('xhr::success', this.dispatchAction)
    this.$bus.$on('data::update', this.dispatchAction)
  },

  mounted () {
    // this.subscribeToSharedChannel()
    // if (!this.isGuest) {
    //   this.subscribeToPrivateChannel(this.user.id)
    // }
  },

  methods: {
    /**
     * Fetches all.
     */
    fetchAll (all) {
      if (!all.length) {
        return
      }

      this.$store.dispatch('SET_LOADING', true)

      this.$http.all(all)
        .then((responses) => {
          responses.forEach((response) => {
            this.updateStore(
              response.config.url.split('/').reverse()[0],
              response.data
            )
          })
          this.$store.dispatch('SET_LOADING', false)
        })
        .catch((/*reason*/) => {
          // this.$bus.$emit('xhr::error.get', reason)
          this.$store.dispatch('SET_LOADING', false)
        })
    },

    fetchDistricts () { return this.$http.get('districts') },
    fetchAgencies () { return this.$http.get('agencies') },
    fetchStreets () { return this.$http.get('streets') },
    fetchObjects () { return this.$http.get('objects') },
    fetchReports () { return this.$http.get('reports') },
    fetchCities () { return this.$http.get('cities') },
    fetchShares () { return this.$http.get('shares') },
    fetchUser () { return this.$http.get('user') },

    addData (toArray, fromArray, field) {
      return toArray.map((obj) => {
        let id = obj.id
        obj[field] = fromArray && fromArray.filter((data) => data['object_id'] === id)
        return obj
      })
    },

    getMin (name) {
      let val = 1
      this.$store.getters.getObjects.forEach((object) => {
        val = object[name] < val ? Number(object[name]) : val
      })
      return val
    },

    getMax (name) {
      let val = 1
      this.$store.getters.getObjects.forEach((object) => {
        val = object[name] > val ? Number(object[name]) : val
      })
      return val
    },

    /**
     * Clear store
     *
     * @param   {String}  name    The name
     */
    clearStore (name) {
      this.$bus.$emit('xhr::success', {
        slug: name,
        data: null,
      })
    },

    /**
     * Update Store
     *
     * @param   {String}            name    The name
     * @param   {Object|Array|null} data    The data
     */
    updateStore (name, data) {
      this.$bus.$emit('xhr::success', {
        slug: name,
        data: data,
      })
    },

    /**
     * Dispatch store action
     *
     * @param   {Object}  payload  The payload
     */
    dispatchAction (payload) {
      this.$store.dispatch(
        payload.slug.toUpperCase() + '_UPDATE',
        payload.data
      )
    },

    /**
     * Add subscribes to server events
     *
     * @param   {String}         name    The name
     * @param   {Array}          events  The events
     * @param   {Number|String}  id      The identifier
     */
    // subscribeToChannel (name, events = [], id = '') {
    //   let channel = this.pusher.subscribe(name + String(id))
    //   events.forEach((ev) => {
    //     channel.bind(ev, this.dispatchStoreAction)
    //   })
    // },

    /**
     * Subscribes to public channel
     */
    // subscribeToSharedChannel () {
    //   this.subscribeToChannel('shared', [
    //     // Eloquent events here
    //   ])
    // },

    /**
     * Subscribes to private user channel
     *
     * @param   {Number}   id   The identifier
     */
    // subscribeToPrivateChannel (id) {
    //   this.subscribeToChannel('private-user.', [
    //     // Eloquent events here
    //   ], id)
    // },

    /**
     * Dispatch store action from event
     *
     * @param   {Mixed}   data   The data
     */
    // dispatchStoreAction (data) {
    //   let payload = data.post || data.project || data.station || {}
    //   this.$bus.$emit('data::update', {
    //     slug: data.action,
    //     data: payload
    //   })
    // },
  },
}
</script>
<!--
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style> -->
