<template>
  <div class="chart-wrapper" v-if="user.id">
    <div class="small-chat-box fadeInRight animated">
      <div class="heading" draggable="true">
        <small class="chat-date pull-right">
          {{ $time().format('LL') }}
        </small> {{ $t('share') }}
      </div>
      <div v-if="isLoading" class="content">
        {{ $t('sending') }}
      </div>
      <div v-else class="content">
        {{ $t('share_who') }}
      </div>
      <div v-if="isLoading" class="form-chat">
        <div class="col-md-12 text-center">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
        </div>
      </div>
      <div v-else class="form-chat">
        <div class="inner">
          <input type="text" class="form-control col-md-12"
            v-model="user.name"
            required
            :placeholder="$t('share_name')"
            @keyup.enter="sendShare"
          />
          <input type="tel" class="form-control col-md-12 m-t-xs"
            v-model="user.phone"
            required
            :placeholder="$t('share_phone')"
            @keyup.enter="sendShare"
          />
          <input type="email" class="form-control col-md-12 m-t-xs"
            v-model="user.email"
            required
            placeholder="Email"
            @keyup.enter="sendShare"
          />
          <button class="col-md-12 btn btn-primary m-t-xs"
            type="button"
            @click="sendShare()"
          >{{ $t('send_share') }}</button>
        </div>
      </div>
    </div>
    <div id="small-chat" @click="openChat">
      <a class="open-small-chat">
        <i class="fa fa-share-alt"></i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Chat',

  data: () => ({
    loading: false,
    opened: false,
  }),

  computed: {
    isLoading: () => this.loading,
    isOpened: () => this.opened,
  },

  props: {
    user: { type: Object, default: () => ({ id: 0 }) },
  },

  methods: {
    openChat: () => {
      this.opened = true
    },

    closeChat: () => {
      this.opened = false
    },
  },
}
</script>
