<template>
  <div class="col-md-2 border-left">
    <carousel
      :indicators="false"
      data-interval="false"
      v-if="item.preview && item.preview.length"
      :id="`gallery_id_${item.id}`"
    >
      <slider v-for="preview, index in item.preview" :key="index">
        <a :data-gallery="`gallery_id_${item.id}`"
          :href="`${$root.config.bucketObjectsUrl}/${preview.name}.jpg`"
        >
          <img :src="`${$root.config.bucketObjectsUrl}/${preview.name}_preview.jpg`" />
        </a>
      </slider>
    </carousel>
    <img v-else :src="nophoto" />
  </div>
</template>

<script>
import Slider from '../components/Slider.vue'
import Carousel from '../components/Carousel.vue'

export default {
  name: 'Gallery',

  components: { Carousel, Slider },

  props: {
    item: { type: Object },
  },

  computed: {
    nophoto () {
      return 'https://placeholdit.imgix.net/~text?txtsize=15&txt=' +
        this.$t('object_no_photo') + '&w=160&h=100&txttrack=0'
    },
  },
}
</script>

<style lang="stylus">
</style>
