<template>
  <navbar>
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none"
      type="button" @click="mobileSidebarToggle"
    >&#9776;</button>
    <language-switcher />
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"
          @click.prevent="showUserMenu = !showUserMenu"
        >
          <i class="icon-bell"></i>
          <span class="badge badge-pill badge-danger"
            v-if="unreads && unreads.length"
          >
            {{ unreads.length }}
          </span>
        </a>
      </li>
      <dropdown size="nav" :class="['nav-item', showUserMenu && 'open' || '']">
        <span slot="button"
          @click="showUserMenu = !showUserMenu"
        >
          <img class="img-avatar"
            src="../../static/img/avatars/6.jpg"
            alt="admin@bootstrapmaster.com"
          />
          <span class="d-md-down-none">admin</span>
        </span>
        <div class="dropdown-menu dropdown-menu-right"
          slot="dropdown-menu"
          v-show="showUserMenu"
        >
          <div class="dropdown-header text-center">
            <strong>{{ $t('notifications') }}</strong>
            <span class="badge badge-info"
              v-if="unreads && unreads.length"
            >
              {{ unreads.length }}
            </span>
          </div>
          <a class="dropdown-item"
            href="#"
            v-for="message in unreads"
            :key="message.id"
          >
            <i class="fa fa-envelope-o"></i> {{ message.text.slice(0, 25) }}...
          </a>
          <div class="dropdown-header text-center">
            <strong>{{ $t('user') }}</strong>
          </div>
          <a class="dropdown-item" href="#">
            <i class="fa fa-lock"></i> Logout
          </a>
        </div>
      </dropdown>
      <li class="nav-item d-md-down-none">
        <a class="nav-link navbar-toggler aside-menu-toggler"
          href="#"
          @click="asideToggle"
        >&#9776;</a>
      </li>
    </ul>
  </navbar>
</template>
<script>
import Navbar from './Navbar'
import Dropdown from './Dropdown.vue'

export default {
  name: 'header',

  data: () => ({
    dropdownClasses: { open: false },
    showUserMenu: false,
  }),

  components: { Navbar, Dropdown },

  computed: {
    unreads () {
      return [
        {
          id: 1,
          text: 'Test message',
        },
        {
          id: 2,
          text: 'Test message',
        },
        {
          id: 3,
          text: 'Test message',
        },
        {
          id: 4,
          text: 'Test message',
        },
      ]
    },
  },

  methods: {
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    sidebarMinimize (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-minimized')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    },
  },
}
</script>

<style lang="stylus">
.dropdown-menu
  z-index 1020
</style>
