<template>
  <div class="container col-lg-12 col-md-12 supermargin">
    <div :class="'col-lg-12 border-bottom white-bg manage-state-' + item.state">
      <div class="row border-bottom">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              Card title
            </div>
            <div class="card-block">
              <h5 class="link"
                v-text="`${title} ${district['name_' + lang]}`"
                @click="activeView = activeView === 'map' ? null : 'map'"
              ></h5>
              <div class="ibox-tools">
                <h5 style="margin-right:3px">
                  {{ city && city.alias }} {{ item.id }}
                </h5>
                <i class="fa fa-pencil-square-o"
                  v-if="item.notes_r"
                  @click="activeView = activeView === 'note-r' ? null : 'note-r'"
                ></i>
                <i class="fa fa-pencil-square-o"
                  v-if="item.notes_c"
                  @click="activeView = activeView === 'note-c' ? null : 'note-c'"
                ></i>
                <i class="fa fa-caret-square-o-down dropdown-toggle"
                  data-toggle="dropdown"
                ></i>
                <span :class="['label', 'pull-right', dayz.class]">
                  {{ dayz.text }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- <gallery :item="item" /> -->
      </div>
    </div>
    <component :is="activeView" :item="item" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { format /*formatDistance, formatRelative, subDays*/ } from 'date-fns'

import GMap from './GMap.vue'
import NoteC from './NoteC.vue'
import NoteR from './NoteR.vue'
import Report from './Report.vue'
import Gallery from './Gallery.vue'

export default {
  name: 'ListItem',

  components: { GMap, NoteC, NoteR, Report, Gallery },

  data () {
    return {
      dayz: [
        { cls: 'label-primary', text: format(this.startDate, '[Today is a] dddd') },
      ],
      activeView: null,
    }
  },

  props: {
    item: { type: Object },
  },

  methods: {
    getRelativePath (name) {
      let
        re = new RegExp('\\d+/' + name, 'i'),
        path = this.pathname.match(re)
          ? `${this.pathname.replace(re, '')}/${this.item.id}/${name}`
          : `${this.pathname}/${this.item.id}/${name}`
      return path
    },

    getPrice (prices, currency) {
      let
        name = 'price_' + currency.toUpperCase(),
        price = prices.find(obj => obj.name === name)
      return price && price[name] || 0
    },

    checkDuples () {
      if (this.item.duples !== undefined) {
        return Object.keys(this.item.duples).length
      }
      return true
    },

    deleteObject () {

    },
  },

  computed: {
    ...mapGetters,

    isExactItem () {
      return Number(this.item.id) === Number(this.getIdFromPath)
    },

    getIdFromPath () {
      return this.pathname.split('/')[3]
    },

    pathname () {
      return window.location.pathname
    },

    prices () {
      return this.item.prices
    },

    lang () {
      return this.$store.getters.currentLanguage.translationKey
    },

    district () {
      let
        id = this.item.distr,
        obj = this.$store.getters.getDistricts.find(obj => Number(obj.id) === Number(id))
      return obj && obj['name_' + this.lang || 'ru'] || ''
    },

    activePhone () {
      let obj = this.$store.getters.getPhones.find(obj => Number(obj.active) === 1)
      return obj && obj.value || ''
    },

    // category  () {
    //   let
    //     id = this.item.category,
    //     positiveArr = this.categories.filter(obj => Number(obj.id) === Number(id))
    //   return positiveArr.length && positiveArr[0].text || ''
    // },

    floor () {
      let val = this.item.floor
      return this.item.type !== 2
        ? val
        : this.item.floors
          ? val + '/' + this.item.floors
          : val
    },

    view () {
      let
        id = this.item.type,
        obj = this.$root.views[this.item.type].find(obj => obj.id === id)
      return obj && obj.text || ''
    },

    typeHouse () {
      let
        id = this.item.typehouse,
        obj = this.$root.typehouses.find(obj => obj.id === id)
      return obj && obj.text || ''
    },

    appointment () {
      let
        id = this.item.appointment,
        obj = this.$root.appointments.find(obj => obj.id === id)
      return obj && obj.text || ''
    },

    street () {
      let
        id = this.item.street,
        obj = this.$store.getters.getStreets.find(str => str.id === id)
      return obj && obj['name_' + this.lang || 'ru'] + ' ' + this.item.home || ''
    },

    city () {
      let
        id = this.item['city_id'],
        obj = this.$store.getters.getCities.find(city => city.id === id)
      return obj && obj.name || ''
    },

    title () {
      let
        title = '',
        street = this.street.replace('улица', '').replace('вулиця', '')

      switch (Number(this.item.type)) {
      case 1:
        title = this.$t('house')
        if (this.item.square) {
          title += ', ' + this.item.square + ' ' + this.$t('type_square_eval')
        }
        title += ', ' + street
        break

      case 2:
        if (this.item.rooms) {
          title += this.item.rooms + 'к '
        }
        title += this.$t('apartment') +
          (this.item.studio ?
            ' (' + this.$t('studio') + ')' :
            ''
          ) + ' '
        title += street
        break

      case 3:
        title = this.$t('area')
        if (this.item.square) {
          title += ', ' + this.item.square + ' ' +
            this.$t('type_square_eval')
        }
        title += ' ' + street
        break

      case 4:
        title = this.$t('commercial') + ' ' + this.item.square + ' ' +
          this.$t('type_square_eval')
        title += ' ' + street
        break

      case 5:
        title = ''
        if (this.item.rooms) {
          let megadata = this.item.rooms
          title = this.$root.rooms[this.item.type].reduce((a, b) => {
            if (b.id === megadata) {
              return b.text
            }
            return a
          })
          if (typeof title === 'object') {
            title = megadata + ' ' + this.$t(
              'object_room', { count: Number(title) }
            ) + ' '
          } else {
            title += ' ' + this.$t(
              'object_room', { count: Number(title) }
            ) + ' '
          }
          title += ' ' + street
        }
        break

      case 6:
        title = this.$t('parking')
        title += ' ' + street
        break
      }

      return title
    },

    startDate () {
      return this.item.created_at
    },

    endDate () {
      return format(new Date())
    },

    // dayz () {
    //   let
    //     startDate = this.item.created_at,
    //     endDate = format(new Date()),
    //     days = formatDistance(startDate, endDate)

    //   console.log(formatDistance(startDate, endDate))

    //   // switch (days) {
    //   // case 0:
    //   //   return { cls: 'label-primary', text: format(startDate, '[Today is a] dddd') }
    //   // case 1:
    //   //   return { cls: 'label-info', text: formatDistance(subDays(startDate, 3), endDate) }
    //   // case 2:
    //   //   return { cls: 'label-warning', text: formatRelative(subDays(new Date(), 3), new Date()) }
    //   // default:
    //   //   return { cls: 'label-danger', text: format(startDate, 'D.M.Y') }
    //   // }

    // },
  },
}

</script>
