<template>
  <div class="row border-top">
    <div class="col-md-12">
      <span>{{ $t('note_c') }}:</span>
      <br>
      {{ item['note_c'] }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'NoteC',

  props: {
    item: { type: Object },
  },
}
</script>

<style lang="stylus">
</style>
