<template>
  <div class="row border-top">
    <div class="col-md-12">
      <span>{{ $t('note_r') }}:</span>
      <br>
      {{ item['note_r'] }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'NoteR',

  props: {
    item: { type: Object },
  },
}
</script>

<style lang="stylus">
</style>
