<template>
  <div class="item slider">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Slider',

  data () {
    return {
      index: 1,
      show: false,
    }
  },

  computed: {
    show: () => this.$parent.activeIndex === this.index,
  },

  mounted () {
    for (let childKey in this.$parent.$children) {
      if (this.$parent.$children.hasOwnProperty(childKey)) {
        if (this.$parent.$children[childKey].$el !== this.$el) {
          continue
        }
        this.index = parseInt(childKey, 10)
        break
      }
    }

    this.index = [...this.$el.parentNode.children].indexOf(this.$el)
    this.$parent.indicator.push(this.index)

    if (this.index === 0) {
      this.$el.classList.add('active')
    }
  },
}
</script>
