<template>
  <div class="col-md-12">
    <div class="ibox float-e-margins col-md-12">
      <div class="ibox-title">
        <h5>
          <small class="m-l-sm">
            Редактируем объект <strong>ID: ({{ getObjectId() }})
            Город: {{ getCity() }}</strong>
          </small>
        </h5>
        <div class="ibox-tools">
          <a class="close-link" @click="deleteNewObject()">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                Район
                <select
                  v-select="selected.distrSelected"
                  :options="districts"
                  data-placeholder="Не выбрано"
                  class="district form-control"
                >
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
              <div class="col-md-6">
                Улица/Пересечение
                <select class="district form-control"
                  v-select="selected.streetSelected"
                  multiple
                  :options="streets"
                  data-placeholder="Не выбрано"
                >
                  <option value="0">Не выбрано</option>
                </select>
              </div>
              <div class="col-md-3">
                Категория
                <select
                  v-select="selected.categorySelected"
                  :options="categories"
                  data-placeholder="Не выбрано"
                  class="district form-control"
                >
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Тип
                <select
                  v-select="selected.typeSelected"
                  :options="types"
                  data-placeholder="Не выбрано"
                  class="district form-control"
                />
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
              <div class="col-md-3">
                Цена
                <input class="price form-control input-sm"
                  v-model="selected.price"
                  placeholder=""
                  data-placeholder="Price"
                />
              </div>
              <div class="col-md-3">
                Валюта
                <select class="currency form-control"
                  v-select="selected.currencySelected"
                  data-placeholder="Currency"
                >
                  <option selected value="USD">USD</option>
                </select>
              </div>
              <div class="col-md-3">
                Телефон собственника
                <input class="phone form-control input-sm"
                  v-model="selected.phone"
                  placeholder=""
                  data-placeholder="Телефон собственника"
                />
              </div>
            </div>
            <div class="row">
              <div v-show="subtypeView" class="col-md-3">
                Срок
                <select class="subType form-control"
                  v-select="selected.subtypeSelected"
                  :options="subtypes"
                  data-placeholder="Срок"
                >
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
              <div v-show="roomsView" class="col-md-3">
                Комнат
                <select class="time form-control"
                  v-select="selected.roomsSelected"
                  :options="rooms"
                  data-placeholder="Комнат"
                >
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
              <div v-show="stateView" class="col-md-3">
                Состояние
                <select v-select="selected.stateSelected" :options="states" data-placeholder="Состояние" class="time form-control">
                  <option selected value="0">Не выбрано</option>
                </select>
              </div>
              <div v-show="floorView" class="col-md-3">
                Этаж
                <input debounce="500" v-model="selected.floor" placeholder="Этаэ" data-placeholder="Телефон собственника" class="phone form-control input-sm">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Площадь
                <input debounce="500" v-model="selected.square" placeholder="м²" data-placeholder="Площадь" class="phone form-control input-sm">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <form class="dropzone"
              :action="'http://api.osr.com.ua/files/object/' + getObjectId()"
            ></form> -->
            <form id="my-awesome-dropzone" class="dropzone" action="#">
              <div class="dropzone-previews"></div>
            </form>
            <div id="preview-template" style="display: none;">
              <div class="dz-preview dz-file-preview">
                <div class="dz-details">
                  <img data-dz-thumbnail/>
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark" data-dz-remove><span>✔</span></div>
                <div class="dz-error-mark" data-dz-remove><span>✘</span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
        <span class="pull-right">
                          <a @click="addObject()" class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Опубликовать</a>
                    </span> This is simple footer example
      </div>
    </div>
  </div>
</template>

<script>
import Dropzone from 'dropzone'
export default {
  name: 'EditObject',

  props: ['addnewobject'],

  data: () => ({
    city: null,
    roomsView: true,
    stateView: null,
    subtypeView: null,
    floorView: null,
    selected: {
      subtypeSelected: null,
      categorySelected: null,
      roomsSelected: null,
      stateSelected: null,
      currencySelected: 'USD',
      streetSelected: null,
      distrSelected: null,
      typeSelected: null,
      price: null,
      floor: null,
      phone: null,
      square: null,
    },
    streets: [],
    categories: [
      { id: 1, text: 'Продажа' },
      { id: 2, text: 'Аренда' }
    ],
    types: [
      { id: 1, text: 'Дом' },
      { id: 2, text: 'Квартира' },
      { id: 3, text: 'Земля' },
      { id: 4, text: 'Помещение' }
    ],
    districts: [],
    subtypes: [
      { id: 1, text: 'Краткосрочно' },
      { id: 2, text: 'Долгосрочно' }
    ],
    rooms: [
      { id: 1, text: '1' },
      { id: 2, text: '2' },
      { id: 3, text: '3' },
      { id: 4, text: '4' },
      { id: 5, text: '4+' }
    ],
    states: [
      { id: 1, text: 'Хорошее' },
      { id: 2, text: 'Среднее' }
    ],
  }),

  watch: {
    city (value, oldVal) {

    },

    'selected.typeSelected' (value, oldVal) {
      if (value === '1' || value === '2') {
        this.roomsView = true
        this.floorView = true
      } else {
        this.roomsView = false
        this.floorView = false
        this.selected.roomsSelected = 0
        this.selected.floorView = 0
      }
    },

    'selected.categorySelected' (value, oldVal) {
      if (value === '2') {
        this.stateView = true
        this.subtypeView = true
      } else {
        this.stateView = false
        this.subtypeView = false
        this.selected.subtypeSelected = 0
        this.selected.stateSelected = 0
      }
    },

    selected (value, oldVal) {
      if (typeof this.addnewobject === 'number') {
        let
          url = this.$root.config.apiUrl + '/objects/' + this.addnewobject,
          vm = this

        this.$http.put(url, { object: this.selected })
          .then((response) => {
            console.log(response)
          }, (response) => {
            vm.error = response
          })
      }
    },
  },

  created (done) {
    let
      vm = this,
      url = this.$root.config.apiUrl + '/objects/store'

    this.$http.post(url, {})
      .then((response) => {
        vm.addnewobject = response.data.object.id
        vm.city = response.data.city

        let
          myDropzone = new Dropzone('form#my-awesome-dropzone', {
            url: vm.$root.config.apiUrl + '/files/object/' + vm.addnewobject,
            headers: { 'Authorization': 'Bearer ' + localStorage.getItem('id_token') },
            acceptedFiles: '.jpg,.jpeg,.png,.gif',
            thumbnailWidth: 50,
            thumbnailHeight: 50,
            previewTemplate: document.getElementById('preview-template').innerHTML,
            parallelUploads: 20,
            maxFiles: 20,
          }),
          districts = [],
          streets = []

        myDropzone.on('success', (file, response) => {
          file.fileName = response.fileName
        })

        myDropzone.on('removedfile', (file) => {
          let url = vm.$root.config.apiUrl + '/files/' + file.fileName
          vm.$http.delete(url)
            .then(
              (response) => {},
              (response) => {
                vm.error = response
              }
            )
        })

        response.data.districts.forEach((index, elem) => {
          districts.push({ id: index.id, text: index.name_ru })
        })

        vm.districts = districts

        response.data.streets.forEach((index, elem) => {
          let temp = { id: index.id, text: index.name_ru }
          streets.push(temp)
        })

        vm.streets = streets
      }, (response) => {
        vm.error = response
      })
  },

  methods: {
    addObject () {
      if (typeof this.addnewobject === 'number') {
        let
          url = this.$root.config.apiUrl + '/objects/' + this.addnewobject,
          vm = this

        this.$http.put(url, { object: { status: 1 } })
          .then((response) => {
            this.addnewobject = 0
          })
          .catch((error) => {
            vm.error = error
          })

        this.$router.push('/objects')
      }
    },

    deleteNewObject () {
      let url = this.$root.config.apiUrl + '/objects/' + this.addnewobject
      this.addnewobject = 0

      this.$http.delete(url)
        .then((response) => {

        })
        .catch((error) => {
          this.error = error
        })
    },

    getCity: () => this.city.name_ru,

    getObjectId: () => typeof this.addnewobject === 'number' && this.addnewobject,
  },
}
</script>

<style scoped>
.container {
  padding-right: 12px;
  padding-left: 12px;
}
</style>
