<template>
  <div class="row">
    <div class="col-md-12 border-bottom">
      <div class="ibox-title-osr" style="padding-left: 13px;">
        <h5 style="cursor: pointer">{{$text('create_object')}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div v-if="state_saving || state_creating" class="col-md-12 text-center">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>
      <div v-if="!state_saving && !state_creating" class="col-md-8 border-right">
        <div class="row m-t border-bottom">
          <div class="col-md-3">
            <collect :class="!selected.type ? 'has-error' : null"
                     :value.sync="selected.type"
                     :options="$root.types"
                     :placeholder="$text('type')">
            </collect>
          </div>
          <div v-if="canViewFilter('studio')" class="col-md-3" :class="selected.type === 2 ? 'm-t-xs' : null">
            <div class="checkbox checkbox-success checkbox-inline">
              <input type="checkbox" value="1" id="inlineCheckbox3" v-model="selected.studio">
              <label for="inlineCheckbox3"> {{$text('studio')}} </label>
            </div>
          </div>
          <div v-if="canViewFilter('appointment')" class="col-md-3">
            <collect :value.sync="selected.appointment" :options="$root.appointments" :placeholder="$text('appointment')">
            </collect>
          </div>
          <div v-if="canViewFilter('rooms')" class="col-md-3">
            <label class="input-label-tr">{{$text('rooms')}}</label>
            <input debounce="1000" title="{{$text('rooms')}}" v-model="selected.rooms | onlyDigits" class="form-control input-sm">
          </div>
          <div v-if="canViewFilter('view')" class="col-md-3">
            <collect :value.sync="selected.view" :options="selected.type !== undefined ? $root.views[selected.type] : null" :placeholder="$text('view')">
            </collect>
          </div>
          <div v-if="canViewFilter('typehouse')" class="col-md-3" :class="selected.type === 2 ? 'm-t' : null">
            <collect :value.sync="selected.typehouse" :options="$root.typehouses" :placeholder="$text('typehouse')">
            </collect>
          </div>
          <div v-if="canViewFilter('floor')" class="col-md-3" :class="selected.type === 2 ? 'm-t' : null" style="">
            <label class="input-label-tr">{{$text('floor')}}</label>
            <input id="object_floor_input" debounce="1000" v-model="selected.floor | onlyDigits" class="form-control input-sm" :placeholder="$text('floor')">
          </div>
          <div v-if="canViewFilter('floors')" class="col-md-3" :class="selected.type === 2 ? 'm-t' : null">
            <div class="input-group">
              <label class="input-label-tr">{{$text('floors', {count: selected.type})}}</label>
              <input debounce="1000" title="{{$text('floors', {count: selected.type})}}" v-model="selected.floors | onlyDigits" class="form-control input-sm">
            </div>
          </div>
          <div class="col-md-3 m-b" :class="selected.type === 2 ? 'm-t' : null">
            <label class="input-label-tr">{{$text('square')}}</label>
            <input debounce="1000" data-placement="bottom" v-model="selected.square | onlyDigits" class="form-control input-sm">
          </div>
        </div>
        <div class="row m-t border-bottom">
          <div class="col-md-3">
            <collect :class="!selected.distr ? 'has-error' : null"
                     :value.sync="selected.distr"
                     :options="$root.districts"
                     :placeholder="$text('distr')"></collect>
          </div>
          <div class="col-md-3">
            <street :class="!selected.street ? 'has-error' : null"
                    :value.sync="selected.street"
                    :options="$root.streets"
                    :search="'Найти'"
                    :placeholder="$text('street')"></street>
          </div>
          <div class="col-md-3 m-b">
            <label class="input-label-tr">{{$text('home')}}</label>
            <input :style="{ borderColor: !selected.home ? '#ed5565' : null}" debounce="1000" v-model="selected.home | onlyDigits" class="form-control input-sm">
          </div>
          <div v-if="canViewFilter('square_area')" class="col-md-3">
            <label class="input-label-tr">{{$text('square_area')}}</label>
            <input debounce="1000" v-model="selected.square_area | onlyDigits" class="form-control input-sm">
          </div>
        </div>
        <div class="row m-t border-bottom">
          <div class="col-md-3 m-b">
            <label class="input-label-tr">{{$text('price')}}</label>
            <input :style="{ borderColor: !selected.price ? '#ed5565' : null}"
                   v-model="selected.price | onlyDigits"
                   class="form-control input-sm">
          </div>
          <div class="col-md-3">
            <currency :class="!selected.currency ? 'has-error' : null"
                      :category="" :value.sync="selected.currency"
                      :options="$root.currencies"
                      :placeholder="$text('object_currency')"></currency>
          </div>
          <div class="col-md-3">
            <label class="input-label-tr">{{$text('owner_name')}}</label>
            <input :style="{ borderColor: !selected.owner_name ? '#ed5565' : null}"
                   v-model="selected.owner_name"
                   debounce="1000"
                   class="form-control input-sm">
          </div>
          <div class="col-md-3">
            <label class="input-label-tr">{{$text('phone')}}</label>
            <input :style="{ borderColor: !selected.phone ? '#ed5565' : null}"
                   v-input-mask mask="(999) 999-9999"
                   debounce="1000"
                   v-model="selected.phone"
                   class="form-control input-sm">
          </div>
        </div>
        <div class="row m-t m-b">
          <div class="col-md-6">
            <label class="textarea-label-tr">{{$text('note_r')}}</label>
            <textarea debounce="1000" style="resize:none;" v-model="selected.notes_r" class="form-control"></textarea>
          </div>
          <div class="col-md-6">
            <label class="textarea-label-tr">{{$text('note_c')}}</label>
            <textarea debounce="1000" style="resize:none;" v-model="selected.notes_c" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div v-if="!state_saving && !state_creating" class="col-md-4 border-right">
        <div class="row">
          <form v-if="checkInt(addnewobject)" v-filezone="megaFile" :object_id="addnewobject"
                :previews="[]"
                :id="'my-awesome-dropzone' + addnewobject"
                class="dropzone dropzoneMain{{addnewobject}}"
                action="#">
            <div id="dropzonePrev" class="dropzone-previews"></div>
          </form>
        </div>
        <div class="row m-t">
          <div class="col-md-12">
            <button type="button" @click="editExit()" class="col-md-12 btn btn-primary btn-xs">
              {{$text('edit_stop_add_save')}}
            </button>
          </div>
          <div class="col-md-12 m-t-xs">
            <button type="button" @click="deleteObject()" class="col-md-12 btn btn-danger btn-xs">
              {{$text('edit_stop_add_delete')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.container {
  padding-right: 12px;
  padding-left: 12px;
}

</style>
<script>

import Select from '../components/Select.vue'
import EditStreet from '../components/EditStreet.vue'
import Interval from '../components/Interval.vue'
import Currency from '../components/SelectCur.vue'
import Rooms from '../components/SelectRooms.vue'

export default {
  name: 'NewObject',

  components: {
    Select,
    EditStreet,
    Interval,
    Currency,
    Rooms,
  },

  props: ['addnewobject', 'addcategory', 'selected'],

  route: {
    data: (transition) => {
      transition.next()
    },
  },

  data: () => ({
    user: JSON.parse(localStorage.getItem('iam')),
    trans: { floor: 0 },
    editstate: 0,
    state_saving: null,
    state_creating: null,
    showMap: 0,
    showNote: 0,
    floorsState: 0,
    mObject: {},
    requiredFields: [
      'owner_name',
      'distr',
      'street',
      'price',
      'currency',
      'phone',
      'home'
    ]
  }),

  created () {
    let vm = this
    this.state_creating = true
    this.selected.category = this.addcategory
    this.$http.post(this.$root.config.apiUrl + '/objects/store', {})
      .then((response) => {
        vm.addnewobject = response.data.object.id
        vm.city = response.data.city
        vm.state_creating = false
      })
      .catch((error) => {
        vm.error = error
      })
  },

  methods: {
    canEdit: (user) => user.id === this.user.id,

    canViewPanel: (panel) => this.$root.types.find(
      a => a.id === this.objectdata.type && a.fields.indexOf(panel) !== -1
    ),

    checkInt: (some) => Number.isInteger(some),

    oTitle () {
      let title = ''
      // streets = streets.replace('улица', '').replace('вулиця', '')

      switch (parseInt(this.selected.type)) {
      case 1:
        title = this.$text('house')
        if (this.selected.square) {
          title += ', ' + this.selected.square + ' ' + this.$text('type_square_eval')
        }
        // title += ', ' + streets
        break

      case 2:
        if (this.selected.rooms) {
          title += this.selected.rooms + 'к '
        }
        title += this.$text('apartment') + (
          this.selected.studio
            ? ' (' + this.$text('studio') + ')'
            : ''
        ) + ' '
        // title += streets
        break

      case 3:
        title = this.$text('area')
        if (this.selected.square) {
          title += ', ' + this.selected.square + ' ' + this.$text('type_square_eval')
        }
        // title += ' ' + streets
        break

      case 4:
        title = this.$text('commercial') + ' ' + this.selected.square + ' ' +
          this.$text('type_square_eval')
        // title += ' ' + streets
        break

      case 5:
        title = ''
        if (this.selected.rooms) {
          let megadata = this.selected.rooms

          title = this.$root.rooms[this.selected.type].reduce((a, b) => {
            if (b.id === megadata) {
              return b.text
            }
            return a
          })

          if (typeof title === 'object') {
            title = megadata + ' ' + this.$text(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          } else {
            title += ' ' + this.$text(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          }
          // title += ' ' + streets
        }
        break

      case 6:
        title = this.$text('parking')
        // title += ' ' + streets
        break
      }

      return title
    },

    editExit () {
      let vm = this

      this.selected.status = 1
      this.state_saving = 1

      if (typeof this.addnewobject === 'number') {
        let valid = true

        this.requiredFields.forEach((a) => {
          if (!this.selected[a]) {
            valid = false
          }
        })

        if (valid) {
          this.$http.put(
            this.$root.config.apiUrl + '/objects/' + this.addnewobject,
            {
              object: this.selected,
              event: 'created',
              title: vm.oTitle()
            }
          )
            .then((response) => {
              vm.objectdata = response.data.object
              vm.addnewobject = 0
              vm.$toastr(
                'success',
                vm.$text('object_success_add'),
                vm.$text('toastr_success_header')
              )
              setTimeout(() => {
                window.location.reload()
                location.reload()
              }, 5000)
            })
            .catch((error) => {
              this.state_saving = null
              vm.error = error
              if (error.status === 409) {
                vm.$toastr(
                  'error',
                  vm.$text(error.data.error.message),
                  vm.$text('toastr_error_header')
                )
              }
            })
        } else {
          vm.$toastr(
            'error',
            this.$text('object_error_add'),
            this.$text('toastr_error_header')
          )
          this.state_saving = null
        }
      }
    },

    getStreet: () => this.objectdata.street_name['name_' + this.$root.lng] +
      ' ' + this.objectdata.home,

    canViewFilter (some) {
      let vm = this

      if (!this.selected.type) {
        return false
      }

      if (this.selected.category === 2 &&
        this.selected.type === 2 &&
        some === 'view'
      ) {
        return false
      }

      return this.$root.types.find((a) => a.id === vm.selected.type)
        .fields.findIndex((a) => a === some) !== -1
    },

    setShowMap (map) {
      this.showMap = map
    },

    setShowNote (note) {
      this.showNote = note
    },

    editObjectInit () {
      this.editstate = 1
      this.showMap = 0
    },

    tooltipOn (event) {
      $(event.srcElement).tooltip('show')
    },

    deleteObject () {
      let
        url = this.$root.config.apiUrl + '/objects/' + this.addnewobject,
        vm = this

      this.addnewobject = 0
      this.$http.delete(url)
        .then((response) => {
          if (response.ok && response.status === 204) {
            vm.$dispatch('deleteObject', vm.addnewobject)
          }
        })
        .catch((error) => {
          this.error = error
        })
    },

    numberFormat (number, decimals, decPoint, thousandsSep) {
      number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
      let
        n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep,
        dec = (typeof decPoint === 'undefined') ? '.' : decPoint,
        s = '',
        toFixedFix = (n, prec) => {
          let k = Math.pow(10, prec)
          return '' + (Math.round(n * k) / k).toFixed(prec)
        }

      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.')

      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
      }

      if ((s[1] || '').length < prec) {
        s[1] = s[1] || ''
        s[1] += new Array(prec - s[1].length + 1).join('0')
      }

      return s.join(dec)
    },
  },

  events: {
    deleteNewObject () {
      this.deleteObject()
    },
  },

  filters: {
    findPrice (val, msg) {
      let price, vm = this
      val.forEach(function (index) {
        if (index.name === 'price_' + msg) {
          price = vm.numberFormat(index.value, 0, ',', ' ')
        }
      })
      return price
    },

    findCategory (val) {
      let positiveArr = this.categories.filter(function (number) {
        return number.id === val
      })
      return positiveArr[0].text
    },

    findFloor (val) {
      if (this.objectdata.type === 2) {
        if (this.objectdata.floors) {
          return val + '/' + this.objectdata.floors
        }
        return val
      }
      return val
    },

    findView: (val) => this.$root.views[this.objectdata.type]
      .find(a => a.id === val).text,

    findTypeHouse: (val) => this.$root.typehouses.find(a => a.id === val).text,

    findAppointment: (val) => this.$root.appointments.find(a => a.id === val).text,

    onlyDigits: (val) => val && val.toString().replace(/[^0-9]/g, ''),
  },
}
</script>
