<template>
  <div class="container col-lg-12 col-md-12 supermargin">
    <div class="col-lg-12 border-bottom white-bg"
      :class="'manage-state-' + objectdata.state"
    >
      <div class="row border-bottom" v-if="!editstate">
        <div class="col-md-10">
          <div class="row border-bottom">
            <div class="col-md-12">
              <div class="ibox-title-osr">
                <h5 style="cursor: pointer"
                  @click="setShowMap(!showMap)"
                >
                  {{ oTitle }}{{ objectdata.district['name_' + $root.lng] }}
                </h5>
                <div class="ibox-tools">
                  <h5 style="margin-right:3px">
                    {{ objectdata.city.alias }}{{ objectdata.id }}
                  </h5>
                  <i class="fa fa-pencil-square-o"
                    v-if="objectdata.notes_r"
                    @click="setShowNote(!showNote)"
                    :class="showNote ? 'text-success' : ''"
                  ></i>
                  <i class="fa fa-user"
                    v-if="objectdata.notes_c"
                    @click="setShowClientNote(!showClientNote);"
                    :class="showClientNote ? 'text-success' : ''"
                  ></i>
                  <i class="fa fa-caret-square-o-down dropdown-toggle"
                    data-toggle="dropdown"
                  ></i>
                  <span :class="dayz.class" class="label pull-right">
                    {{ dayz.text }}
                  </span>
                  <ul class="dropdown-menu">
                    <li v-if="canEdit(objectdata.author)">
                      <a @click="editObjectInit()">
                        {{ $t('object_edit') }}
                      </a>
                    </li>
                    <li v-if="canEdit(objectdata.author)">
                      <a @click="deleteObject()">
                        {{ $t('object_delete') }}
                      </a>
                    </li>
                    <li v-if="!canEdit(objectdata.author)">
                      <a @click="showModal = true">
                        {{ $t('report') }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="height:70px">
              <modal
                :title="$t('report_object')"
                :show="showModal"
                effect="fade"
              >
                <div slot="modal-body" class="modal-body">
                  <div class="row">
                    <div v-if="stateReportSend" class="col-md-12 text-center">
                      <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                      </div>
                    </div>
                    <div v-if="errorReport" class="alert alert-danger m-t-xs">
                      {{ $t('report_not_checked') }}
                    </div>
                    <div class="radio">
                      <input type="radio" v-model="reportId" id="radio2" value="1">
                      <label for="radio2">
                        {{ $t('report_object_invalid_date') }}
                      </label>
                    </div>
                    <div class="radio">
                      <input type="radio" v-model="reportId" id="radio3" value="2">
                      <label for="radio2">
                        {{ $t('report_object_invalid_data') }}
                      </label>
                    </div>
                    <div class="radio">
                      <input type="radio" v-model="reportId" id="radio4" value="3">
                      <label for="radio2">
                        {{ $t('report_object_invalid_other') }}
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <textarea class="md-input col-md-12"
                      v-model="reportComment"
                      style="resize: none;"
                    ></textarea>
                  </div>
                </div>
                <div slot="modal-footer" class="modal-footer">
                  <button class="btn btn-success" type="button"
                    @click="sendReport()"
                  >{{ $t('report_object_text') }}</button>
                </div>
              </modal>
              <div class="row">
                <div class="col-md-6">
                  <span v-if="canViewPanel('view') && objectdata.view">
                    {{ objectdata.view | findView }}
                  </span>
                </div>
                <div class="col-md-6">
                  <span v-if="canViewPanel('typehouse') && objectdata.typehouse">
                    {{ objectdata.typehouse | findTypeHouse }}
                  </span>
                  <span v-if="canViewPanel('floors') && objectdata.floors">
                    {{ $t('floors') }}: {{ objectdata.floors }}
                  </span>
                  <span v-if="canViewPanel('appointment') && objectdata.appointment">
                    {{ objectdata.appointment | findAppointment }}
                  </span>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
              </div>-->
              <div class="row">
                <div class="col-md-6">
                  <span v-if="objectdata.square">
                    {{ $t('square') }}:
                    {{ objectdata.square }} {{ $t('type_square_eval') }}
                  </span>
                </div>
                <div v-if="objectdata.square_area" class="col-md-6">
                  {{ $t('area_word') }}:
                  {{ objectdata.square_area }} {{ $t('type_square_area_eval') }}
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right" style="height: 70px">
              <div class="row">
                <div class="col-md-12">
                  <span v-if="canViewPanel('floor') && objectdata.floor">
                    {{ $t('floor') }}: {{ objectdata.floor | findFloor }}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{ objectdata.objectdata | findPrice objectdata.currency }}
                  {{ objectdata.currency }}
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right" style="height:70px">
              <div class="row"
                v-if="user.agency.id !== objectdata.agency.id &&
                  objectdata.agency.number_of_accounts !== 0"
              >
                <div class="col-md-12">
                  <span>{{ objectdata.agency.title }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-user"></i> {{ objectdata.owner_name | capitalize }}
                </div>
              </div>
              <div v-if="!checkDuples()" class="row">
                <div v-if="objectdata.phone" class="col-md-12">
                  <i class="fa fa-phone"></i> {{ objectdata.phone }}
                </div>
                <div v-else class="col-md-12">
                  <i class="fa fa-phone"></i> {{ $t('not_set') }}
                </div>
              </div>
              <div v-else class="row">
                <div class="col-md-12">
                  <a v-if="objectdata.author.id === user.id ||
                      (objectdata.state === 2 && objectdata.agency.policy === 2)"
                    @click.stop="showDuples = !showDuples"
                  >{{ objectdata.phone }}</a>
                  <a v-else
                    @click.stop="showDuples = !showDuples"
                  ><i class="fa fa-files-o"></i> {{ $t('duplicate') }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 border-left" style="padding-right: 0px;padding-left: 0px;">
          <carousel
            :indicators="false"
            data-interval="false"
            v-show="objectdata.preview.length"
            :id="'gallery_id_' + objectdata.id"
          >
            <slider v-for="preview in objectdata.preview">
              <a
                :data-gallery="'gallery_id_' + objectdata.id"
                :href="$root.config.bucketObjectsUrl + '/' + preview.name + '.jpg'"
              >
                <img
                  :src="$root.config.bucketObjectsUrl + '/' + preview.name + '_preview.jpg'"
                />
              </a>
            </slider>
          </carousel>
          <img v-show="!objectdata.preview.length" :src="nophoto" />
        </div>
        <div class="col-md-12">
        </div>
      </div>
      <div v-if="showNote" class="row border-top">
        <div class="col-md-12"
          style="padding-right: 1px;padding-left: 20px; padding-top:1px; padding-bottom:1px"
        ><span>{{ $t('note_r') }}:</span><br>{{ objectdata.notes_r }}</div>
      </div>
      <div v-if="showClientNote" class="row border-top">
        <div class="col-md-12"
          style="padding-right: 1px;padding-left: 20px; padding-top:1px; padding-bottom:1px"
        ><span>{{ $t('note_c') }}:</span><br>{{ objectdata.notes_c }}</div>
      </div>
      <div v-if="showMap" class="row border-top">
        <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
          <y-map :object="objectdata" />
        </div>
      </div>
      <div v-if="showDuples" class="row border-top">
        <div class="col-md-12" style="padding-right: 0px;padding-left: 0px;">
          <div class="row">
            <div class="col-md-3">
              <span class="m-l" v-if="objectdata.author.agency">
                {{ objectdata.author.agency.title }}
              </span>
              <span>({{ objectdata.author.name }})</span>
            </div>
            <div class="col-md-2">
              <span v-if="objectdata.objectdata">
                {{ objectdata.objectdata | findPrice objectdata.currency }}
                {{ objectdata.currency }}
              </span>
            </div>
            <div class="col-md-2">
              <span v-if="objectdata.author.phones">
                {{ getActivePhone(objectdata.author.phones) }}
              </span>
            </div>
          </div>
          <div v-for="duple in objectdata.duples" class="row">
            <div class="col-md-3">
              <span class="m-l" v-if="duple.author.agency">
                {{ duple.author.agency.title }}
              </span>
              <span>({{duple.author.name}})</span>
            </div>
            <div class="col-md-2">
              <span v-if="duple.objectdata">
                {{ duple.objectdata | findPrice duple.currency }}
                {{ duple.currency }}
              </span>
            </div>
            <div class="col-md-2">
              <span v-if="duple.author.phones">
                {{ getActivePhone(duple.author.phones) }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-bottom" v-if="editstate">
        <div class="col-md-12 border-bottom">
          <div class="ibox-title-osr">
            <h5 style="cursor: pointer">{{ $t('edit_object') }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div v-if="stateSaving" class="col-md-12 text-center">
              <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
              </div>
            </div>
            <div v-if="!stateSaving" class="col-md-8 border-right">
              <div class="row m-t border-bottom">
                <div class="col-md-3">
                  <collect
                    :class="!selected.type ? 'has-error' : ''"
                    :value="selected.type"
                    :options="$root.types"
                    :placeholder="$t('type')"
                  />
                </div>
                <div class="col-md-3"
                  v-if="canViewFilter('studio')"
                  :class="selected.type === 2 ? 'm-t-xs' : ''"
                >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox"
                      value="1"
                      id="inlineCheckbox3"
                      v-model="selected.studio"
                    />
                    <label for="inlineCheckbox3">
                      {{ $t('studio') }}
                    </label>
                  </div>
                </div>
                <div v-if="canViewFilter('appointment')" class="col-md-3">
                  <collect
                    :value="selected.appointment"
                    :options="$root.appointments"
                    :placeholder="$t('appointment')"
                  />
                </div>
                <div v-if="canViewFilter('rooms')" class="col-md-3">
                  <label class="input-label-tr">
                    {{ $t('rooms') }}
                  </label>
                  <input class="form-control input-sm"
                    debounce="1000"
                    :title="$t('rooms')"
                    v-model="selected.rooms | onlyDigits"
                  />
                </div>
                <div v-if="canViewFilter('view')" class="col-md-3">
                  <collect
                    :value="selected.view"
                    :options="selected.type !== undefined ? $root.views[selected.type] : null"
                    :placeholder="$t('view')"
                  />
                </div>
                <div class="col-md-3"
                  v-if="canViewFilter('typehouse')"
                  :class="selected.type === 2 ? 'm-t' : ''"
                >
                  <collect
                    :value="selected.typehouse"
                    :options="$root.typehouses"
                    :placeholder="$t('typehouse')"
                  />
                </div>
                <div class="col-md-3"
                  v-if="canViewFilter('floor')"
                  :class="selected.type === 2 ? 'm-t' : ''"
                >
                  <label class="input-label-tr">{{ $t('floor') }}</label>
                  <input id="object_floor_input" class="form-control input-sm"
                    debounce="1000"
                    v-model="selected.floor | onlyDigits"
                    :placeholder="$t('floor')"
                  />
                </div>
                <div class="col-md-3"
                  v-if="canViewFilter('floors')"
                  :class="selected.type === 2 ? 'm-t' : ''"
                >
                  <div class="input-group">
                    <label class="input-label-tr">
                      {{ $t('floors', { count: selected.type }) }}
                    </label>
                    <input class="form-control input-sm"
                      debounce="1000"
                      :title="$t('floors', { count: selected.type })"
                      v-model="selected.floors | onlyDigits"
                    />
                  </div>
                </div>
                <div class="col-md-3 m-b"
                  :class="selected.type === 2 ? 'm-t' : ''"
                >
                  <label class="input-label-tr">
                    {{ $t('square') }}
                  </label>
                  <input class="form-control input-sm"
                    debounce="1000"
                    data-placement="bottom"
                    v-model="selected.square | onlyDigits"
                  />
                </div>
              </div>
              <div class="row m-t border-bottom">
                <div class="col-md-3">
                  <collect
                    :class="!selected.distr ? 'has-error' : ''"
                    :value="selected.distr"
                    :options="$root.districts"
                    :placeholder="$t('object_distr')"
                  />
                </div>
                <div class="col-md-3">
                  <street
                    :class="!selected.street ? 'has-error' : ''"
                    :value="selected.street"
                    :options="$root.streets"
                    :search="'Найти'"
                    :placeholder="$t('object_street')"
                  />
                </div>
                <div class="col-md-3 m-b">
                  <label class="input-label-tr">{{ $t('home') }}</label>
                  <input class="form-control input-sm"
                    :style="{ borderColor: !selected.home ? '#ed5565' : '' }"
                    debounce="1000"
                    v-model="selected.home | onlyDigits"
                  />
                </div>
                <div v-if="canViewFilter('square_area')" class="col-md-3">
                  <label class="input-label-tr">
                    {{ $t('square_area') }}
                  </label>
                  <input class="form-control input-sm"
                    debounce="1000"
                    v-model="selected.square_area | onlyDigits"
                  />
                </div>
              </div>
              <div class="row m-t border-bottom">
                <div class="col-md-3 m-b">
                  <label class="input-label-tr">
                    {{ $t('price') }}
                  </label>
                  <input class="form-control input-sm"
                    :style="{ borderColor: !selected.price ? '#ed5565' : '' }"
                    debounce="1000"
                    v-model="selected.price | onlyDigits"
                  />
                </div>
                <div class="col-md-3">
                  <currency
                    :class="!selected.currency ? 'has-error' : ''"
                    :category=""
                    :value="selected.currency"
                    :options="$root.currencies"
                    :placeholder="$t('object_currency')"
                  />
                </div>
                <div class="col-md-3">
                  <label class="input-label-tr">
                    {{ $t('owner_name') }}
                  </label>
                  <input class="form-control input-sm"
                    :style="{
                      borderColor: !selected.owner_name ? '#ed5565' : ''
                    }"
                    v-model="selected.owner_name"
                    debounce="1000"
                  />
                </div>
                <div class="col-md-3">
                  <label class="input-label-tr">{{ $t('phone') }}</label>
                  <input class="form-control input-sm"
                    :style="{
                      borderColor: !selected.phone ? '#ed5565' : ''
                    }"
                    v-input-mask
                    mask="(999) 999-9999"
                    debounce="1000"
                    v-model="selected.phone"
                  />
                </div>
              </div>
              <div class="row m-t m-b">
                <div class="col-md-6">
                  <label class="textarea-label-tr">
                    {{ $t('note_c') }}
                  </label>
                  <textarea class="form-control"
                    debounce="1000"
                    style="resize:none;"
                    v-model="selected.notes_c"
                  ></textarea>
                </div>
                <div class="col-md-6">
                  <label class="textarea-label-tr" style="">
                    {{ $t('note_r') }}
                  </label>
                  <textarea class="form-control"
                    debounce="1000"
                    style="resize:none;"
                    v-model="selected.notes_r"
                  ></textarea>
                </div>
              </div>
            </div>
            <div v-if="!stateSaving" class="col-md-4 border-right">
              <div class="row">
                <form
                  v-filezone="megaFile"
                  :options="objectdata"
                  :object-id="objectdata.id"
                  :previews="objectdata.preview"
                  :id="'my-awesome-dropzone' + objectdata.id"
                  :class="'dropzone dropzoneMain' + objectdata.id"
                  action="#"
                >
                  <div id="dropzonePrev" class="dropzone-previews"></div>
                </form>
              </div>
              <div class="row m-t">
                <div class="col-md-12">
                  <button type="button"
                    v-if="editstate"
                    @click="editExit()"
                    class="col-md-12 btn btn-primary btn-xs"
                  >{{ $t('edit_stop_and_save') }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Carousel from '../helpers/Carousel'
import Slider from '../helpers/Slider'
import Modal from '../helpers/Modal'
// import auth from '../auth'
// import Dropzone from 'dropzone'
import Select from './Select'
import EditStreet from './EditStreet'
import Interval from './Interval'
import SelectCur from './SelectCur'
import SelectRooms from './SelectRooms'
import YMap from './YMap'

export default {
  name: 'ObjectItem',

  components: {
    Carousel,
    Slider,
    Select,
    EditStreet,
    Interval,
    SelectCur,
    SelectRooms,
    YMap,
    Modal,
  },

  data () {
    return {
      user: JSON.parse(localStorage.getItem('iam')),
      trans: {
        floor: 0
      },
      editstate: 0,
      stateSaving: null,
      showMap: 0,
      showNote: 0,
      showClientNote: 0,
      showDuples: 0,
      showModal: null,
      reportId: null,
      reportComment: null,
      errorReport: null,
      stateReportSend: null,
      floorsState: 0,
      mObject: {},
      requiredFields: [
        'owner_name',
        'distr',
        'street',
        'price',
        'currency',
        'phone',
        'home',
      ]
    }
  },

  props: {
    objectdata: Object,
    currency: String,
    selected: Object,
  },

  computed: {
    nophoto () {
      return 'https://placeholdit.imgix.net/~text?txtsize=15&txt=' +
        this.$t('object_no_photo') + '&w=160&h=100&txttrack=0'
    },

    oTitle () {
      let title = '',
        streets = this.getStreet().replace('улица', '').replace('вулиця', '')

      switch (parseInt(this.objectdata.type)) {
      case 1:
        title = this.$t('house')
        if (this.objectdata.square) {
          title += ', ' + this.objectdata.square + ' ' +
            this.$t('type_square_eval')
        }

        title += ', ' + streets
        break

      case 2:
        if (this.objectdata.rooms) {
          title += this.objectdata.rooms + 'к '
        }
        title += this.$t('apartment') +
          (this.objectdata.studio ? ' (' + this.$t('studio') + ')' : '') +
          ' '
        title += streets
        break

      case 3:
        title = this.$t('area')
        if (this.objectdata.square) {
          title += ', ' + this.objectdata.square + ' ' +
            this.$t('type_square_eval')
        }
        title += ' ' + streets
        break

      case 4:
        title = this.$t('commercial') + ' ' + this.objectdata.square + ' ' +
          this.$t('type_square_eval')
        title += ' ' + streets
        break

      case 5:
        title = ''
        if (this.objectdata.rooms) {
          let megadata = this.objectdata.rooms
          title = this.$root.rooms[this.objectdata.type].reduce((a, b) => {
            if (b.id === megadata) {
              return b.text
            }
            return a
          })
          if (typeof title === 'object') {
            title = megadata + ' ' + this.$t(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          } else {
            title += ' ' + this.$t(
              'object_room',
              { count: parseInt(title) }
            ) + ' '
          }
          title += ' ' + streets
        }
        break

      case 6:
        title = this.$t('parking')
        title += ' ' + streets
        break
      }

      return title
    },

    dayz () {
      let
        date1 = this.$time(this.objectdata.created_at),
        date2 = this.$time(),
        days = date2.diff(date1, 'days'),
        cls,
        text

      switch (days) {
      case 0:
        cls = 'label-primary'
        text = this.$t('today')
        break

      case 1:
        cls = 'label-info'
        text = this.$t('yesterday')
        break

      case 2:
        cls = 'label-warning'
        text = this.$t('2daysago')
        break

      default:
        cls = 'label-danger'
        text = date1.format('D.M.Y')
        break
      }

      return { class: cls, text: text }
    },
  },

  events: {
    addObject (msg) {
      this.editstate = 0
    }
  },

  watch: {
    reportId () {
      this.errorReport = null
    },
  },

  methods: {
    canEdit (user) {
      return user.id === this.user.id
    },

    canViewPanel (panel) {
      return this.$root.types.find(a => {
        return a.id === this.objectdata.type && a.fields.indexOf(panel) !== -1
      })
    },

    checkDuples () {
      if (this.objectdata.duples !== undefined) {
        return Object.keys(this.objectdata.duples).length
      }
      return true
    },

    getActivePhone (phones) {
      let temp
      temp = phones.find(a => a.active === 1)
      return temp.value
    },

    sendReport () {
      let vm = this
      if (!this.reportId) {
        this.errorReport = 1
        return false
      }
      this.stateReportSend = true
      this.$http.post(this.$root.config.apiUrl + '/objects/report/' + this.objectdata.id, {
        body_id: this.reportId,
        body_text: this.reportComment,
      })
        .then((response) => {
          vm.stateReportSend = null
          vm.showModal = null
          vm.$toastr('success', vm.$t('object_success_reported'), vm.$t('toastr_success_header'))
        })
        .catch((error) => {
          vm.error = error
          vm.stateReportSend = null
          vm.$toastr('error', vm.$t('object_error_reported'), vm.$t('toastr_error_header'))
        })
    },

    editExit () {
      let vm = this
      this.stateSaving = 1

      if (typeof this.objectdata.id === 'number' && this.editstate) {
        let valid = true
        this.requiredFields.forEach(a => {
          if (!this.selected[a]) {
            valid = false
          }
        })
        if (valid) {
          this.$http.put(
            this.$root.config.apiUrl + '/objects/' + this.objectdata.id,
            { object: this.selected }
          )
            .then((response) => {
              vm.objectdata = response.data.object
              vm.editstate = 0
              vm.stateSaving = null
              vm.$toastr(
                'success',
                vm.$t('object_success_edit'),
                vm.$t('toastr_success_header')
              )
            })
            .catch((response) => {
              vm.error = response
              this.stateSaving = null
              if (response.status === 409) {
                vm.$toastr(
                  'error',
                  vm.$t(response.data.error.message),
                  vm.$t('toastr_error_header')
                )
              }
            })
        } else {
          vm.$toastr(
            'error',
            this.$t('object_error_edit'),
            this.$t('toastr_error_header')
          )
          this.stateSaving = null
        }
      }
    },

    getStreet () {
      return this.objectdata.street_name['name_' + this.$root.lng] + ' ' + this.objectdata.home
    },

    canViewFilter (some) {
      let findKey, self = this

      if (!this.selected.type) {
        return false
      }

      if (this.selected.category === 2 &&
        this.selected.type === 2 && some === 'view') {
        return false
      }

      findKey = this.$root.types.find((a) => a.id === self.selected.type)

      return findKey.fields.findIndex((a) => a === some) !== -1
    },

    setShowMap (map) {
      this.showMap = map
    },

    setShowNote (note) {
      this.showNote = note
    },

    setShowClientNote (note) {
      this.showClientNote = note
    },

    editObjectInit () {
      this.editstate = 1
      this.showMap = 0
    },

    tooltipOn (evt) {
      $(evt.srcElement).tooltip('show')
    },

    deleteObject () {
      let url = this.$root.config.apiUrl + '/objects/' + this.objectdata.id,
        self = this

      this.$http.delete(url).then(function (response) {
        if (response.ok && response.status === 204) {
          self.$dispatch('deleteObject', this.objectdata.id)
        }
      }, (response) => {
        this.error = response
      })
    },

    numberFormat (number, decimals, decPoint, thousandsSep) {
      number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
      let n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep,
        dec = (typeof decPoint === 'undefined') ? '.' : decPoint,
        s = '',
        toFixedFix = function (n, prec) {
          let k = Math.pow(10, prec)
          return '' + (Math.round(n * k) / k)
            .toFixed(prec)
        }
      // Fix for IE parseFloat(0.55).toFixed(0) = 0
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
        .split('.')
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
      }
      if ((s[1] || '')
        .length < prec) {
        s[1] = s[1] || ''
        s[1] += new Array(prec - s[1].length + 1)
          .join('0')
      }
      return s.join(dec)
    }
  },

  filters: {
    findPrice (val, msg) {
      let price, self = this
      val.forEach(function (index) {
        if (index.name === 'price_' + msg) {
          price = self.numberFormat(index.value, 0, ',', ' ')
        }
      })
      return price
    },

    findCategory (val) {
      let positiveArr = this.categories.filter(function (number) {
        return number.id === val
      })
      return positiveArr[0].text
    },

    findFloor (val) {
      if (this.objectdata.type === 2) {
        if (this.objectdata.floors) {
          return val + '/' + this.objectdata.floors
        }
        return val
      }
      return val
    },

    findView (val) {
      let find = this.$root.views[this.objectdata.type].find(a => a.id === val)
      return find.text
    },

    findTypeHouse (val) {
      let find = this.$root.typehouses.find(a => a.id === val)
      return find.text
    },

    findAppointment (val) {
      let find = this.$root.appointments.find(a => a.id === val)
      return find.text
    },

    onlyDigits: {
      read (val) {
        if (val) {
          return val.toString().replace(/[^0-9]/g, '')
        }
      },

      write (val, oldVal) {
        if (val) {
          return val.toString().replace(/[^0-9]/g, '')
        }
      },
    },
  },
}
</script>
