<template>
  <div v-show="filterShow" id="osr_filters" class="wrapper border-bottom white-bg">
    <div class="row">
      <div class="col-md-2">
        <collect
          :value="filter.distr"
          :options="$root.districts"
          :placeholder="$text('distr')"
        />
      </div>
      <div class="col-md-6" style="padding-right: 0px">
        <street
          :value="filter.street"
          :options="$root.streets"
          :search="'Найти'"
          :placeholder="$text('streets')"
        />
      </div>
    </div>
    <div class="row m-t">
      <div class="col-md-2">
        <collect
          :value="filter.type"
          :options="$root.types"
          :placeholder="$text('find_type')"
        />
      </div>
      <div class="col-md-2">
        <interval
          :value_start="filter.square_start"
          :value_finish="filter.square_finish"
          :placeholder="$text('square')"
        />
      </div>
      <div class="col-md-2 filterPriceInput">
        <interval
          :value_start="filter.price_start"
          :value_finish="filter.price_finish"
          :placeholder="$text('price')"
        />
      </div>
      <div class="col-md-2" style="padding-right: 18px">
        <select-cur
          :category=""
          :value="filter.currency"
          :options="$root.currencies"
          :placeholder="$text('currency')"
        />
      </div>
      <div class="col-md-4 pull-right m-t-xs tooltip-demo">
        <div class="checkbox checkbox-success checkbox-inline">
          <input id="inlineCheckbox1"
            type="checkbox"
            v-model="filter.provide.my"
          />
          <label for="inlineCheckbox1">
            {{ $text('my') }}
          </label>
        </div>
        <div class="checkbox checkbox-success checkbox-inline"
          v-if="!useRole(7)"
        >
          <input id="inlineCheckbox2"
            type="checkbox"
            v-model="filter.provide.my_agency"
          />
          <label for="inlineCheckbox2">
            {{ $text('my_agency') }}
          </label>
        </div>
        <div class="checkbox checkbox-success checkbox-inline"
          v-if="agency.type === 1"
          data-toggle="tooltip"
          data-placement="top"
          title=""
          :data-original-title="$text('for_payed_account')"
        >
          <input id="inlineCheckbox3"
            type="checkbox"
            v-if="user.agency.type === 2"
            v-model="filter.provide.no_my"
          />
          <input id="inlineCheckbox3"
            type="checkbox"
            v-if="user.agency.type === 1"
            disabled
            v-model="filter.provide.no_my"
          />
          <label for="inlineCheckbox3">
            {{ $text('no_my') }}
          </label>
        </div>
        <div class="checkbox checkbox-success checkbox-inline"
          v-if="agency.type === 2"
        >
          <input
            type="checkbox"
            v-if="user.agency.type === 2"
            id="inlineCheckbox3"
            v-model="filter.provide.no_my"
          />
          <input
            type="checkbox"
            v-if="user.agency.type === 1"
            id="inlineCheckbox3"
            disabled
            v-model="filter.provide.no_my"
          />
          <label for="inlineCheckbox3">{{ $text('no_my') }}</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        v-if="canViewFilter('rooms')"
        class="col-md-2 m-t"
        style="padding-right: 14px"
      >
        <rooms
          :value="filter.rooms"
          :options="filter.type !== undefined
            ? $root.rooms[filter.type]
            : null"
          :placeholder="$text('rooms')"
        />
      </div>
      <div v-if="canViewFilter('view')" class="col-md-2 m-t">
        <collect
          :value="filter.view"
          :options="filter.type !== undefined
            ? $root.views[filter.type]
            : null"
          :placeholder="$text('view')"
        />
      </div>
      <div class="col-md-2 m-t"
        v-if="canViewFilter('floors') && filter.type !== 2"
      >
        <interval
          :startValue="filter.floors_start"
          :finishValue="filter.floors_finish"
          :placeholder="$text('floors', { count: filter.type })"
        />
      </div>
      <div class="col-md-2 m-t"
        v-if="canViewFilter('floor')"
      >
        <interval
          :startValue="filter.floor_start"
          :finishValue="filter.floor_finish"
          :placeholder="$text('floor')"
        />
      </div>
      <div class="col-md-2 m-t"
        v-if="canViewFilter('typehouse')"
        style="padding-right: 18px"
      >
        <collect
          :value="filter.typehouse"
          :options="$root.typehouses"
          :placeholder="$text('typehouse')"
        />
      </div>
      <div v-if="canViewFilter('appointment')" class="col-md-2 m-t">
        <collect
          :value="filter.appointment"
          :options="$root.appointments"
          :placeholder="$text('appointment')"
        />
      </div>
      <div v-if="canViewFilter('square_area')" class="col-md-2 m-t">
        <interval
          :startValue="filter.square_area_start"
          :finishValue="filter.square_area_finish"
          :placeholder="$text('square_area')"
        />
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding-left: 14px">
    <div class="row border-bottom white-bg manage-state-1">
      <newobject
        v-if="addnewobject"
        :addnewobject="addnewobject"
        :addcategory="addcategory"
        :selected="prepareObjectNullData()"
      />
    </div>
  </div>
  <div class="scroll_content row"
    style="margin-left: -13px"
    :style="infiniteStyle"
  >
    <listobject
      transition="slide"
      v-for="object in objects"
      :selected="prepareObjectData(object)"
      :key="object.id"
      :objectdata="object"
    />
  </div>
  <div class="small-chat-box fadeInRight animated">
    <div class="heading" draggable="true">
      <small class="chat-date pull-right">
        {{ $time().format('LL') }}
      </small> {{ $text('share') }}
    </div>
    <div v-if="!shareState" class="content">
      {{ $text('share_who') }}
    </div>
    <div v-if="!shareState" class="form-chat">
      <input type="text" class="form-control col-md-12"
        v-model="shareName"
        required
        :placeholder="$text('share_name')"
      />
      <input type="tel" class="form-control col-md-12 m-t-xs"
        v-model="sharePhone"
        required
        :placeholder="$text('share_phone')"
      />
      <input type="email" class="form-control col-md-12 m-t-xs"
        v-model="shareEmail"
        required
        placeholder="Email"
        @keyup.enter="sendShare()"
      />
      <button class="col-md-12 btn btn-primary m-t-xs"
        type="button"
        @click="sendShare()"
      >{{ $text('send_share') }}</button>
    </div>
    <div v-if="shareState" class="content">
      {{ $text('sending') }}
    </div>
    <div v-if="shareState" class="form-chat">
      <div class="col-md-12 text-center">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="small-chat" @click="openShare()">
    <a class="open-small-chat">
      <i class="fa fa-share-alt"></i>
    </a>
  </div>
</template>

<script>
import NewObject from '../components/NewObject.vue'
import ObjectItem from '../components/ObjectItem.vue'
import Select from '../components/Select.vue'
import SelectStreet from '../components/SelectStreet.vue'
import Interval from '../components/Interval.vue'
import SelectCur from '../components/SelectCur.vue'
import Rooms from '../components/SelectRooms.vue'
import 'jquery-mousewheel'
import iScroll from 'malihu-custom-scrollbar-plugin'

iScroll($)

export default {
  props: ['addnewobject', 'currency'],

  components: {
    NewObject,
    ObjectItem,
    Select,
    SelectStreet,
    Interval,
    SelectCur,
    Rooms
  },

  route: {
    data (transition) {
      if (transition.to.params.time === ':time') {
        transition.to.params.time = 'short'
      }

      this.filter.category = transition.to.params.category === 'rent' ? 2 : 1
      this.filter.subtype = transition.to.params.time

      if (transition.to.params.time === 'short') {
        this.filter.subtype = 2
      }

      if (transition.to.params.time === 'long') {
        this.filter.subtype = 1
      }

      if (!this.loadObjects) {
        this.getFilterObjects()
      }

      this.$broadcast('deleteNewObject')
      transition.next()
    }
  },

  watch: {
    'filter.type' (val, oldVal) {
      this.handleResize()
      let elem = this.$root.types.find(a => {
        return oldVal ? a.id === oldVal : false
      })

      if (elem && elem.fields.length) {
        elem.fields.forEach(a => {
          this.filterNull = true

          if (['hnumber', 'studio'].indexOf(a) === -1) {
            switch (a) {
            case 'rooms':
              this.filter['rooms'] = []
              break

            case 'floors':
              this.filter['floors_start'] = null
              this.filter['floors_finish'] = null
              break

            case 'floor':
              this.filter['floor_start'] = null
              this.filter['floor_finish'] = null
              break

            case 'square_area':
              this.filter['square_area_start'] = null
              this.filter['square_area_finish'] = null
              break

            default:
              this.filter[a] = null
              break
            }
          }

          this.filterNull = null
        })
      }
    },

    filterShow: {
      handler (val, oldVal) {
        this.handleResize()
      }
    },

    filter: {
      handler (val, oldVal) {
        if (!this.filterNull) {
          this.getFilterObjects()
        }
      },
      deep: true
    },

    nextPageUrl: {
      handler (val, oldVal) {
        this.infiniteScrollEnabled = val !== null
      }
    }
  },

  filters: {
    priceShowStart (x) {
      if (x) {
        var rx = /(\d+)(\d{3})/
        return String(x).replace(/^\d+/, (w) => {
          while (rx.test(w)) {
            w = w.replace(rx, '$1 $2')
          }
          return w
        })
      }
    },

    priceShowFinish: {
      read (val) {

      },
      write (val, oldVal) {

      }
    },
  },

  methods: {
    handleResize (evt, elem) {
      let
        height = this.filterShow
          ? document.getElementById('osr_filters').offsetHeight
          : 0,
        bodyHeight,
        delta

      if (document.getElementById('superalert') &&
        document.getElementById('superalert').offsetHeight) {
        height = height + document.getElementById('superalert').offsetHeight
      }

      bodyHeight = document.body.clientHeight
      delta = bodyHeight - height

      if (this.infiniteStyle !== delta + 'px') {
        this.infiniteStyle.height = delta + 'px'
      }
    },

    canViewFilter (some) {
      let
        findKey,
        self = this

      if (!this.filter.type) {
        return false
      }

      if (this.filter.category === 2 &&
        this.filter.type === 2 && some === 'view') {
        return false
      }

      findKey = this.$root.types.find((a) => a.id === self.filter.type)

      return findKey.fields.findIndex((a) => a === some) !== -1
    },

    useRole (role) {
      let roles = JSON.parse(localStorage.getItem('userRoles'))
      return roles.find(a => a.id === role)
    },

    getFilterObjects () {
      let self = this

      this.loadObjects = 1
      this.$http.get(
        this.$root.config.apiUrl + '/objects',
        { filterVars: this.filter }
      )
        .then((response) => {
          self.objects = response.data.objects.data
          self.nextPageUrl = response.data.objects.next_page_url
          self.loadObjects = 0
        }, (response) => {
          self.error = response
        })
    },

    prepareObjectNullData: () => ({
      category: null,
      type: null,
      distr: null,
      currency: 'USD',
      subtype: this.filter.subtype,
      rooms: null,
      floor: null,
      street: null,
      state: null,
      price: null,
      phone: null,
      square: null,
      appointment: null,
      home: null,
      owner_name: null,
      lon: null,
      lat: null,
      studio: null,
      notes_c: null,
      notes_r: null
    }),

    sendShare () {
      let self = this

      this.shareState = 1
      this.$http.post(
        this.$root.config.apiUrl + '/share',
        {
          lng: this.$root.lng,
          name: this.shareName,
          phone: this.sharePhone,
          filterVars: this.filter,
          shareEmail: this.shareEmail
        }
      )
        .then((response) => {
          self.shareState = null
          self.openShare()
          self.$toastr(
            'success',
            self.$text('share_success_sended'),
            self.$text('toastr_success_header')
          )
        }, (response) => {
          self.error = response
          this.shareState = null
        })
    },

    openShare () {
      $('.open-small-chat')
        .children()
        .toggleClass('fa-share-alt')
        .toggleClass('fa-remove')

      $('.small-chat-box')
        .toggleClass('active')
    },

    prepareObjectData (object) {
      let price

      object.objectdata.forEach((elem) => {
        if (elem.name === 'price_' + object.currency) {
          price = elem.value
        }
      })

      object.price = price

      return object
    }
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.handleResize)
  },

  mounted () {
    let self = this

    this.handleResize()
    window.addEventListener('resize', this.handleResize)

    $('.scroll_content').mCustomScrollbar({
      theme: 'dark-3',
      scrollInertia: 0,
      documentTouchScroll: false,
      mouseWheel: { deltaFactor: 15 },

      contentTouchScroll: false,
      keyboard: { enable: true },
      callbacks: {
        onUpdate () {
          self.handleResize()
        },
        whileScrolling () {
          if (this.mcs.topPct > 90 &&
            self.infiniteScrollEnabled && !self.infiniteScrollLoading) {
            $('.scroll_content').mCustomScrollbar('stop')
            let self2 = self
            self.infiniteScrollLoading = true
            self.$http.get(self.nextPageUrl, { filterVars: self.filter }).then((response) => {
              self2.objects = self2.objects.concat(response.data.objects.data)

              self2.nextPageUrl = response.data.objects.next_page_url
              self2.infiniteScrollLoading = false
            }, (response) => {
              self2.error = response
            })
          }
        }
      }
    })
    $('.tooltip-demo').tooltip({
      selector: '[data-toggle=tooltip]',
      container: 'body'
    })
  },

  computed: {
    user () {
      let user = JSON.parse(localStorage.getItem('iam'))
      return user
    },
    agency () {
      let agency = JSON.parse(localStorage.getItem('agency'))
      return agency
    }
  },

  data () {
    return {
      filterShow: true,
      infiniteStyle: {
        height: 'auto',
      },
      nextPageUrl: null,
      infiniteScrollEnabled: null,
      infiniteScrollLoading: false,
      objects: [],
      viewFilters: [],
      shareState: null,
      shareEmail: null,
      shareName: null,
      sharePhone: null,
      filterNull: null,
      filter: {
        street: [],
        provide: {},
        rooms: []
      },
      filterS: {},
      loadObjects: 0
    }
  },

  events: {
    addObject (msg) {
      this.addcategory = msg.category
      this.addnewobject = msg.status
      this.$broadcast('addObject', msg)
    },

    deleteObject (msg) {
      this.objects = this.objects
        .filter((el) => {
          return el.id !== msg
        })
    },

    setCategory (msg) {
      this.selected.category = msg
    },
  },
}
</script>
