<template>
    <div class="input-group">
        <div class="input-group-btn">
            <button tabindex="-1" data-toggle="dropdown"
                    class="btn btn-sm btn-white col-md-10 selectValue dropdown-toggle" type="button">
                {{ getTitle() }}
            </button>
            <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button">
                <span class="caret"></span>

            </button>
            <ul class="dropdown-menu" style="z-index: 4000;">
                <li v-for="option in searchOptions" @click="select(option)">
                    <a>{{ option.text }}</a>
                </li>
            </ul>
        </div>
    </div>

</template>
<style>
    .selectValue {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script>

    export default{
        props: {
            value: {
                twoWay: true,
                default: function(){
                    return this.$route.params.category == 'sale' ? 'USD' : 'UAH';
                }
            },
            options: Array,
            placeholder: String,
            searchFromServer: Boolean,
            search: Boolean,
            category: {
                type: Number
            }

        },

        data () {
            return {
                keyWords: null,
                selectedOption: null
            }
        },
        computed: {
            searchOptions: function () {

                if (this.searchFromServer) {
                    return this.options
                }
                if (this.keyWords === null) {
                    return this.options
                }
                return this.options.filter(option => option.text.indexOf(this.keyWords) !== -1)
            }
        },
        watch: {
            keyWords: function () {
                if (this.searchFromServer) {
                    this.$dispatch('search', this.keyWords)
                }
            }
        },
        methods: {
            select: function (option) {
                this.value = option.id;
                this.selectedOption = option;
            },
            getTitle()
            {
                var title, findKey;
                if (!this.value)
                    return this.placeholder;
                else {

                    findKey = this.options.find(a => {
                        return a.id == this.value;
                    });
                    if (findKey.text) {
                        if (findKey.text.length > 15) {
                            return findKey.text.substr(0, 15) + "...";
                        }
                        return findKey.text;
                    }

                }


            }
        },
    }
</script>
