<template>
  <router-view></router-view>
</template>

<script>
import Pusher from 'pusher-js'

const
  token = document.querySelector('meta[name="csrf-token"]').content,

  pusherConfig = (token) => ({
    authEndpoint: window.location.origin + '/broadcasting/auth',
    cluster: 'eu',
    encrypted: true,
    auth: {
      headers: {
        'X-CSRF-Token': token
      }
    }
  })

export default {
  name: 'app',

  data () {
    return {
      error: null,
      loading: false,
      pusher: new Pusher(
        'dc8e852b1c8c7d66d5df',
        pusherConfig(token)
      ),
      config: {
        bucketObjectsUrl: 'https://storage.googleapis.com/osrbucket/objects',
        bucketAvatarsUrl: 'https://storage.googleapis.com/osrbucket/avatars',
        apiUrl: 'https://api.osr.com.ua',
        loginUrl: 'https://api.osr.com.ua/auth/login',
        registerUrl: 'https://api.osr.com.ua/register',
        version: '0.3.2',
        process: process,
      },
      daysForPay: null,
      user: auth.user,
      lng: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'ru',
      busy: false,
      currencies: [
        { id: 'USD', text: 'USD' },
        { id: 'EUR', text: 'EUR' },
        { id: 'UAH', text: 'UAH' },
      ],
    }
  },

  computed: {
    streets () {
      let self = this,
        streets = localStorage.getItem('streets'),
        tempStreets = []

      if (streets) {
        streets = JSON.parse(streets)
        streets.forEach(function (item) {
          tempStreets.push({ id: item.id, text: item['name_' + self.lng], selected: 0 })
        })
      }

      return tempStreets
    },

    districts () {
      let self = this,
        districts = localStorage.getItem('districts'),
        tempDistr = []

      if (districts) {
        districts = JSON.parse(districts)
        districts.forEach(function (item) {
          tempDistr.push({ id: item.id, text: item['name_' + self.lng] })
        })
      }
      return tempDistr
    },

    types () {
      return [{
        id: 2,
        text: this.$text('apartment'),
        fields: ['typehouse', 'rooms', 'view', 'floor', 'hnumber', 'floors', 'studio']
      },
      {
        id: 1,
        text: this.$text('house'),
        fields: ['view', 'floors', 'hnumber', 'square_area']
      },
      {
        id: 5,
        text: this.$text('room'),
        fields: ['rooms']
      },
      {
        id: 3,
        text: this.$text('area'),
        fields: ['appointment']
      },
      {
        id: 4,
        text: this.$text('commercial'),
        fields: ['view']
      },
      {
        id: 6,
        text: this.$text('parking'),
        fields: []
      }]
    },

    typehouses () {
      return [
        { id: 1, text: this.$text('type_typehouses_brick') },
        { id: 2, text: this.$text('type_typehouses_panel') },
        { id: 3, text: this.$text('type_typehouses_block') },
        { id: 4, text: this.$text('type_typehouses_woodn') }
      ]
    },

    appointments () {
      return [
        { id: 1, text: this.$text('appointments_individual_build') },
        { id: 2, text: this.$text('appointments_selo_ebanoe') },
        { id: 3, text: this.$text('appointments_industry_build') }
      ]
    },

    rooms () {
      return [
        [],
        [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ],
        [
          { id: 6, text: this.$text('room_studio'), selected: false },
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ],
        [],
        [],
        [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ]
      ]
    },

    views () {
      return [
        [],
        [
          { id: 1, text: this.$text('house_in_city') },
          { id: 2, text: this.$text('house_outer_city') }
        ],
        [
          { id: 1, text: this.$text('first_market') },
          { id: 2, text: this.$text('second_market') }
        ],
        [],
        [
          { id: 1, text: this.$text('score_saloon') },
          { id: 2, text: this.$text('restaurant_bar') },
          { id: 3, text: this.$text('office') },
          { id: 4, text: this.$text('collector') },
          { id: 5, text: this.$text('alone_buildings') },
          { id: 6, text: this.$text('industry_builds') },
          { id: 7, text: this.$text('free_app') },
          { id: 8, text: this.$text('others_app') }
        ]
      ]
    },

    userdata () {
      let user
      user = JSON.parse(localStorage.getItem('iam'))
      return user
    },

    uroles () {
      let roles
      roles = JSON.parse(localStorage.getItem('userRoles'))
      return roles
    },

    checkPayOut () {
      if (!this.user.authenticated || this.userdata.agency.type === 1) {
        return false
      }
      let payedTo, date2, diff

      if (this.uroles.find(a => a.id === 7)) {
        payedTo = this.userdata.payedTo
      } else {
        payedTo = this.userdata.agency.payedTo
      }

      date2 = this.$time(payedTo)
      diff = this.$time().diff(date2, 'days')
      this.days_for_pay = Math.abs(diff)

      return this.days_for_pay <= 7
    },

    isGuest: () => this.$store.getters.isGuest(),
  },

  created () {
    let fetchList = []

    if (!this.isGuest) {
      fetchList.push(this.fetchAgencies())
      fetchList.push(this.fetchCities())
      fetchList.push(this.fetchDistricts())
      fetchList.push(this.fetchStreets())
      fetchList.push(this.fetchObjects())
      fetchList.push(this.fetchReports())
      fetchList.push(this.fetchShares())
      fetchList.push(this.fetchTelegramUsers())
      fetchList.push(this.fetchTelegramFilters())
    } else {
      this.clearStore()
    }

    this.fetchAll(fetchList)
  },

  mounted () {
    this.subscribeToSharedChannel()
    if (!this.isGuest) {
      this.subscribeToPrivateChannel(this.user.id)
    }
  },

  methods: {
    fetchAgencies: () => this.$http.get('agencies'),
    fetchCities: () => this.$http.get('cities'),
    fetchDistricts: () => this.$http.get('districts'),
    fetchStreets: () => this.$http.get('streets'),
    fetchObjects: () => this.$http.get('objects'),
    fetchReports: () => this.$http.get('reports'),
    fetchShares: () => this.$http.get('shares'),
    fetchTelegramUsers: () => this.$http.get('telegram_users'),
    fetchTelegramFilters: () => this.$http.get('telegram_filters'),

    /**
     * Fetches all.
     */
    fetchAll (all) {
      if (!all.length) {
        return
      }

      this.$bus.$emit('xhr::loading', true)

      this.$http.all(all)
        .then((responses) => {
          responses.forEach((response) => {
            this.updateStore(
              response.config.url.split('/').reverse()[0],
              response.data
            )
          })
          this.$bus.$emit('xhr::loading', false)
        })
        .catch((reason) => {
          this.$bus.$emit('xhr::error.get', reason)
          this.$bus.$emit('xhr::loading', false)
        })
    },

    /**
     * Clear store
     *
     * @param      {String}  name    The name
     */
    clearStore (name) {
      this.$bus.$emit('xhr::success', {
        slug: name,
        data: null
      })
    },

    /**
     * Update Store
     *
     * @param   {String}            name    The name
     * @param   {Object|Array|null} data    The data
     */
    updateStore (name, data) {
      this.$bus.$emit('xhr::success', {
        slug: name,
        data: data
      })
    },

    /**
     * Add subscribes to server events
     *
     * @param   {String}         name    The name
     * @param   {Array}          events  The events
     * @param   {Number|String}  id      The identifier
     */
    subscribeToChannel (name, events = [], id = '') {
      let channel = this.pusher.subscribe(name + String(id))
      events.forEach((ev) => {
        channel.bind(ev, this.dispatchStoreAction)
      })
    },

    /**
     * Subscribes to public channel
     */
    subscribeToSharedChannel () {
      this.subscribeToChannel('shared', [
        // Eloquent events here
      ])
    },

    /**
     * Subscribes to private user channel
     *
     * @param   {Number}   id   The identifier
     */
    subscribeToPrivateChannel (id) {
      this.subscribeToChannel('private-user.', [
        // Eloquent events here
      ], id)
    },

    /**
     * Dispatch store action from event
     *
     * @param   {Mixed}   data   The data
     */
    dispatchStoreAction (data) {
      let payload = data.post || data.project || data.station || {}
      this.$bus.$emit('data::update', {
        slug: data.action,
        data: payload
      })
    },
  }
}
</script>
<!--
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style> -->
