<template>
  <div id="wrapper">
    <div v-if="checkPayOut" class="row">
      <div class="col-md-12">
        <div id="superalert" class="alert text-center"
          :class="{
            'alert-warning': days_for_pay < 7 && days_for_pay > 2,
            'alert-danger': days_for_pay <= 2
          }"
          style="border-radius: 0px; margin-bottom:0px;"
        >
          {{ $text('daysforpay', {count: days_for_pay}) }}
        </div>
      </div>
    </div>
    <side-menu v-if="user.authenticated" />
    <div class="gray-bg"
      :id="user.authenticated ? 'page-wrapper' : ''"
      :style="!user.authenticated ? 'height:100%' : ''"
    >
      <div class="row">
        <div class="fh-breadcrumb">
          <div class="full-height">
            <div class="full-height-scroll border-left">
              <router-view />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '../auth'
import SideMenu from '../components/SideMenu'

export default {
  name: 'Full',
  components: { SideMenu },

  data () {
    return {
      config: {
        bucketObjectsUrl: 'https://storage.googleapis.com/osrbucket/objects',
        bucketAvatarsUrl: 'https://storage.googleapis.com/osrbucket/avatars',
        apiUrl: 'https://api.osr.com.ua',
        loginUrl: 'https://api.osr.com.ua/auth/login',
        registerUrl: 'https://api.osr.com.ua/register',
        version: '0.3.2',
        process: process,
      },
      user: auth.user,
      days_for_pay: null,
      lng: localStorage.getItem('lang') ? localStorage.getItem('lang') : 'ru',
      busy: false,
      currencies: [
        { id: 'USD', text: 'USD' },
        { id: 'EUR', text: 'EUR' },
        { id: 'UAH', text: 'UAH' },
      ],
    }
  },

  computed: {
    streets () {
      let self = this,
        streets = localStorage.getItem('streets'),
        tempStreets = []

      if (streets) {
        streets = JSON.parse(streets)
        streets.forEach(function (item) {
          tempStreets.push({ id: item.id, text: item['name_' + self.lng], selected: 0 })
        })
      }

      return tempStreets
    },

    districts () {
      let self = this,
        districts = localStorage.getItem('districts'),
        tempDistr = []

      if (districts) {
        districts = JSON.parse(districts)
        districts.forEach(function (item) {
          tempDistr.push({ id: item.id, text: item['name_' + self.lng] })
        })
      }
      return tempDistr
    },

    types () {
      return [{
        id: 2,
        text: this.$text('apartment'),
        fields: ['typehouse', 'rooms', 'view', 'floor', 'hnumber', 'floors', 'studio']
      },
      {
        id: 1,
        text: this.$text('house'),
        fields: ['view', 'floors', 'hnumber', 'square_area']
      },
      {
        id: 5,
        text: this.$text('room'),
        fields: ['rooms']
      },
      {
        id: 3,
        text: this.$text('area'),
        fields: ['appointment']
      },
      {
        id: 4,
        text: this.$text('commercial'),
        fields: ['view']
      },
      {
        id: 6,
        text: this.$text('parking'),
        fields: []
      }]
    },

    typehouses () {
      return [
        { id: 1, text: this.$text('type_typehouses_brick') },
        { id: 2, text: this.$text('type_typehouses_panel') },
        { id: 3, text: this.$text('type_typehouses_block') },
        { id: 4, text: this.$text('type_typehouses_woodn') }
      ]
    },

    appointments () {
      return [
        { id: 1, text: this.$text('appointments_individual_build') },
        { id: 2, text: this.$text('appointments_selo_ebanoe') },
        { id: 3, text: this.$text('appointments_industry_build') }
      ]
    },

    rooms () {
      return [
        [],
        [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ],
        [
          { id: 6, text: this.$text('room_studio'), selected: false },
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ],
        [],
        [],
        [
          { id: 1, text: '1', selected: false },
          { id: 2, text: '2', selected: false },
          { id: 3, text: '3', selected: false },
          { id: 4, text: '4', selected: false },
          { id: 5, text: '4+', selected: false }
        ]
      ]
    },

    views () {
      return [
        [],
        [
          { id: 1, text: this.$text('house_in_city') },
          { id: 2, text: this.$text('house_outer_city') }
        ],
        [
          { id: 1, text: this.$text('first_market') },
          { id: 2, text: this.$text('second_market') }
        ],
        [],
        [
          { id: 1, text: this.$text('score_saloon') },
          { id: 2, text: this.$text('restaurant_bar') },
          { id: 3, text: this.$text('office') },
          { id: 4, text: this.$text('collector') },
          { id: 5, text: this.$text('alone_buildings') },
          { id: 6, text: this.$text('industry_builds') },
          { id: 7, text: this.$text('free_app') },
          { id: 8, text: this.$text('others_app') }
        ]
      ]
    },

    userdata () {
      let user
      user = JSON.parse(localStorage.getItem('iam'))
      return user
    },

    uroles () {
      let roles
      roles = JSON.parse(localStorage.getItem('userRoles'))
      return roles
    },

    checkPayOut () {
      if (!this.user.authenticated || this.userdata.agency.type === 1) {
        return false
      }
      let payedTo, date2, diff

      if (this.uroles.find(a => a.id === 7)) {
        payedTo = this.userdata.payedTo
      } else {
        payedTo = this.userdata.agency.payedTo
      }

      date2 = this.$time(payedTo)
      diff = this.$time().diff(date2, 'days')
      this.days_for_pay = Math.abs(diff)

      return this.days_for_pay <= 7
    }
  },

  events: {
    addObject (msg) {
      this.$broadcast('addObject', msg)
    },

    avatarUpdated (msg) {
      this.$broadcast('avatarUpdated', msg)
    },

    setCategory (msg) {
      this.$broadcast('setCategory', msg)
    }
  },
}
</script>
