<template>
  <div class="app">
    <app-header />
    <div class="app-body">
      <sidebar />
      <main class="main">
        <breadcrumb :list="list" />
        <div class="container-fluid">
          <transition>
            <keep-alive>
              <router-view />
            </keep-alive>
          </transition>
        </div>
      </main>
      <app-aside />
    </div>
    <app-footer />
  </div>
</template>

<script>
import Sidebar from '../components/Sidebar.vue'
import AppAside from '../components/Aside.vue'
import AppFooter from '../components/Footer.vue'
import AppHeader from '../components/Header.vue'
import Breadcrumb from '../components/Breadcrumb.vue'

export default {
  name: 'DashboardPage',

  components: { AppHeader, Sidebar, AppAside,  AppFooter, Breadcrumb },

  computed: {
    list: () => this.$route && this.$route.matched || [],
  },
}
</script>

<style lang="stylus">

</style>
